html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    @media screen and (max-width : 60em){
        background-color: $background_color;
    }
}

body > div:first-of-type{
    min-height: 100%;
    position: relative;
    section:last-of-type{
        padding-bottom: 5em;
    }
}
 
section{
    //display: none;
}