
header{
    width: 100%;
    background-color: $background_header;
    
    div{
       @include row(100%,0);
       font-size: 0;
       @media screen and (min-width : 60em){
            @include row(60rem,0);
            margin: 0rem auto 1rem;
            
        }
        text-align: right;
        
        @media screen and (min-width : 25em){
            >div{
                width: 100%;
                >form{
                    width: auto;
                    a{
                        margin-left: 0;
                    }
                    
                }
            }
        }
        
        form{
            font-size: 1rem;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            width: 100%;
            
            &:first-of-type{
                input{
                    margin-bottom: 0em !important;
                }
            }
            
            input{
                box-sizing: border-box;
                vertical-align: top;
                margin: 0.5em 0em 0.5em 0.5em;
                padding: 0.7em;
                border: none;
                width: 9em;
                height: 2.5em;
                font-size: 0.8em;
                @media screen and (max-width : 25em){
                    width: calc(100% - 1em);
                    margin: 0.5em 0.5em 0em 0.5em;
                }
            }
            
            input[type="text"],input[type="password"]{
                       
            }
            
            input[type="submit"]{
                background-color: $color_primary;
                color: white;
                font-weight: bold;
                cursor: pointer;
                @media screen and (max-width : 25em){
                    margin-bottom: 0.5em;
                }
                @media screen and (min-width : 25em) and (max-width : 60em){
                    margin-right: 0em;
                    margin-left: 0.5em;
                }
                &:hover{
                    background-color: $color_primary_contrast;
                }
            }
            
            a{
                font-size: 1rem;
                display: inline-block;
                box-sizing: border-box;
                vertical-align: top;
                height: 2rem;
                width: 2rem;
                margin: 0.4rem 0.5rem 0.4rem 0rem;
                padding: 0.2rem;
                background-color: $color_primary;
                color: white;
                text-align: center;
                @media screen and (min-width : 60em){
                    margin: 0.4rem 0rem 0.4rem 0.5rem;
                }
                @media screen and (min-width : 25em) and (max-width : 60em){
                    margin: 0.4rem 0rem 0.4rem 0rem;
                }
                @media screen and (max-width : 25em){
                    width: calc(100% - 0.8rem);
                    margin: 0.4rem 0.4rem 0.5rem 0.4rem;
                }
                &:hover{
                    background-color: $color_primary_contrast;
                }
                    
                img{
                    width: 1.6rem; 
                }
            }
        }
    }
}
