section#index_adherent{
    height: auto;
    width: 100%;
    background-color: $background_color;
    
    div{
        @include row(100%,0);
        @media screen and (min-width : 60em){
            @include row(60em,0);
            margin: auto;
        }
        height: auto;
        padding-top: 1em;
         
        article{
            width: 90%;
            height: auto;
            box-sizing: border-box;
            margin: 1em auto;
            padding: 1em;
            background-color: $background_section;
            overflow: hidden;
            @media screen and (min-width : 60em){
                min-height: 10em;
                padding: 3em;
            }
            h2{
                font-size: 1.2em;
                margin-bottom: 2em;
                @media screen and (min-width : 60em){
                    font-size: 1.8em;
                }
            }
            h4{
                font-size: 1em;
            }
            p{
                font-size: 0.8em;
                text-align: justify;
            }
            ul{
                list-style: none;
                li{
                    font-size: 0.8em;
                }
            }
        }
    }
}