section#profil{
    height: auto;
    width: 100%;
    @media screen and (max-width : 60em){
        background-color: $background_color;
    }
    
    div{
        @include row(100%,0);
        box-sizing: border-box;
        @media screen and (min-width : 60em){
            @include row(60em,0);
            margin: auto;
            &:first-of-type{
                background-color: $background_color;
            }
        }
        height: auto;
        padding: 1rem;
        @media screen and (max-width : 30em){
            padding: 1rem 0.5rem;
        }
        
        // titre
       > article:first-of-type{
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding:0;
            font-size: 0rem;

            a{
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: 4rem;
                height: 4rem;
                margin-right: 0.5rem;
                
                font-size: 1rem;
                background-image: url('../data/icons/return.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size:  70%;
                background-color: $color_primary;
                
                &:hover{
                    background-color: $color_primary_contrast;
                }
            }
            
            h2{
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: 100% ;
                height: 4rem;
                line-height: 4rem;
                background-color: $color_primary;
                color:white;
                font-size: 1rem;
                margin-bottom: 0.5rem;
                @media screen and (min-width : 35em){
                    font-size: 1.6rem;
                }
            }
            
            p{
                display: block;
                width: 100%;
                height: 3rem;
                line-height: 3rem;
                box-sizing: border-box;
                border: 0;
                margin-bottom: 0.5rem;
                padding: 0rem 0.5rem 0rem 1rem; 
                font-size: 1.2rem;
                background-color: white;
                @media screen and (min-width : 35em){
                    display: inline-block;
                    width: calc( 50% - 0.25em);
                    &:first-of-type{
                        margin-right: 0.5rem;
                    }
                }
                
            }
        }
        
        hr{
            box-sizing: border-box;
            width: 100%;
            margin: 0rem 0rem 0.5rem 0rem;
        }
        
        >div.success, >div.error{
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 0.5rem;
            @media print {
                display: none;
            }
        }
        
        table{
            border: 0;
            width: 100%;
            border-collapse: collapse;
            text-align:center;
            
            tbody{
                
                tr{
                    td{
                        height: 2rem;
                        line-height: 2rem;
                        border: 0;
                        overflow: hidden;
                    }
                    
                    th{
                        height: 3rem;
                        line-height: 3rem;
                        border: 0;
                        overflow: hidden;
                    }
                    
                    td:nth-of-type(2){
                        @media screen and (max-width : 30em){
                            display: none;
                        }
                    }
                    
                    td:nth-of-type(3){
                        @media screen and (max-width : 40em){
                            display: none;
                        }
                    }
                }
                
                tr:nth-child(odd){
                    background-color: #FFB16F;
                }
                
                tr:nth-child(even){
                    background-color: white;
                }
                
                tr:first-child{
                    background-color: $color_primary;
                    color: white;
                    
                    th:nth-of-type(1){
                        width: 50%;
                        @media screen and (max-width : 30em){
                            width: 60%;
                        }
                    }
                    
                    th:nth-of-type(2){
                        width: 16.6667%;
                        @media screen and (min-width : 30em) and (max-width : 40em){
                            width: 24.3334%;
                        }
                        @media screen and (max-width : 30em){
                            display: none;
                        }
                    }
                    
                    th:nth-of-type(3){
                        width: 16.6667%;
                        @media screen and (max-width : 40em){
                            display: none;
                        }
                    }
                    
                    th:nth-of-type(4){
                        width: 16.6667%;
                        @media screen and (min-width : 30em) and (max-width : 40em){
                            width: 24.3334%;
                        }
                        @media screen and (max-width : 30em){
                            width: 40%;
                        }
                    }
                }
            }
        }
        
        > article:nth-of-type(2){
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 1rem 0rem 0rem 0rem;
            margin-bottom: 1rem;
            
            a{
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: 12rem;
                padding: 1rem;
                color: white;
                text-decoration: none;
                background-color: $color_primary;
                
                &:hover{
                    background-color: $color_primary_contrast;
                }
            }
        }
    }
}