// Variables pour les couleurs:

$background_color: #E2E2E2; //#C2C2C2;
$background_color_contrast: #474747;
$background_header: #2D2D2D; //#000000;
$background_section: #ffffff;
$color_primary: #FF7600; //#ff6300;
$color_primary_contrast: #E25D05;
