@charset "UTF-8";
/*import reset*/
@import url("../../stylesheets/reset_meyer.css");
/*import police, code , blockquote, machin comme ├ºa*/
/* line 1, ../../sass/framework/_framework_police.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #000;
}

/* line 7, ../../sass/framework/_framework_police.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: #000;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* line 14, ../../sass/framework/_framework_police.scss */
h1 {
  font-size: 5em;
}

/* line 17, ../../sass/framework/_framework_police.scss */
h2 {
  font-size: 3.5em;
}

/* line 20, ../../sass/framework/_framework_police.scss */
h3 {
  font-size: 3em;
}

/* line 23, ../../sass/framework/_framework_police.scss */
h4 {
  font-size: 2.5em;
}

/* line 26, ../../sass/framework/_framework_police.scss */
h5 {
  font-size: 2em;
}

/* line 29, ../../sass/framework/_framework_police.scss */
h6 {
  font-size: 1.2em;
}

/* line 33, ../../sass/framework/_framework_police.scss */
small {
  font-size: 0.7em;
  color: #ABB7B7;
}

/* line 38, ../../sass/framework/_framework_police.scss */
.small {
  font-size: 0.7em;
  color: #ABB7B7;
}

/* line 43, ../../sass/framework/_framework_police.scss */
p {
  margin-bottom: 1em;
}

/* line 47, ../../sass/framework/_framework_police.scss */
mark {
  background-color: #F7CA18;
  color: #000;
}

/* line 52, ../../sass/framework/_framework_police.scss */
del {
  text-decoration: line-through;
}

/* line 56, ../../sass/framework/_framework_police.scss */
ins {
  text-decoration: underline;
}

/* line 60, ../../sass/framework/_framework_police.scss */
u {
  text-decoration: underline;
}

/* line 64, ../../sass/framework/_framework_police.scss */
strong {
  font-weight: bold;
}

/* line 68, ../../sass/framework/_framework_police.scss */
em {
  font-style: italic;
}

/* line 72, ../../sass/framework/_framework_police.scss */
abbr {
  text-decoration: none;
  border-bottom: 1px dotted black;
}

/* line 77, ../../sass/framework/_framework_police.scss */
blockquote {
  margin-left: 1em;
  font-style: italic;
}

/* line 82, ../../sass/framework/_framework_police.scss */
pre {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: #ABB7B7;
}

/* line 87, ../../sass/framework/_framework_police.scss */
code {
  color: #6C7A89;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  border: 1px solid black;
  padding: 2px;
}

/* line 94, ../../sass/framework/_framework_police.scss */
kbd {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

/* line 98, ../../sass/framework/_framework_police.scss */
.text-align-center {
  text-align: center;
}

/* line 102, ../../sass/framework/_framework_police.scss */
.text-align-left {
  text-align: left;
}

/* line 106, ../../sass/framework/_framework_police.scss */
.text-align-right {
  text-align: right;
}

/* line 110, ../../sass/framework/_framework_police.scss */
.text-align-justify {
  text-align: justify;
}

/* line 114, ../../sass/framework/_framework_police.scss */
.majuscule {
  text-transform: uppercase;
}

/* line 119, ../../sass/framework/_framework_police.scss */
.mnuscule {
  text-transform: lowercase;
}

/*import button*/
/************Boutons*************/
/*import alertes messages*/
/*****************************************************************Alertes*/
/* line 11, ../../sass/framework/_framework_alertes.scss */
.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

/* line 18, ../../sass/framework/_framework_alertes.scss */
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url("img/info.png");
}

/* line 23, ../../sass/framework/_framework_alertes.scss */
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url("success.png");
}

/* line 28, ../../sass/framework/_framework_alertes.scss */
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url("warning.png");
}

/* line 33, ../../sass/framework/_framework_alertes.scss */
.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url("error.png");
}

/*import composants*/
/*----------------------*\
	$Variables
\*---------------------- */
/*----------------------*\
	$Mixins
\*---------------------- */
/*----------------------*\
	$Grid
\*---------------------- */
/* line 59, ../../sass/framework/_framework_grid.scss */
.mixinrow {
  width: 100%;
  display: block;
  margin-bottom: 1%;
}

/*----------------------*\
	$Defaut mobile first
\*---------------------- */
/*.center{margin: 0 auto;}*/
/* line 41, ../../sass/framework/_framework_grid.scss */
.col-1 {
  width: 5.75%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-2 {
  width: 12%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-3 {
  width: 18.25%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-4 {
  width: 24.5%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-5 {
  width: 30.75%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-6 {
  width: 37%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-7 {
  width: 43.25%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-8 {
  width: 49.5%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-9 {
  width: 55.75%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-10 {
  width: 62%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-11 {
  width: 68.25%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-12 {
  width: 74.5%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-13 {
  width: 80.75%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-14 {
  width: 87%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-15 {
  width: 93.25%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../../sass/framework/_framework_grid.scss */
.col-16 {
  width: 99.5%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-1 {
  margin-left: 6.5%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-2 {
  margin-left: 12.75%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-3 {
  margin-left: 19%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-4 {
  margin-left: 25.25%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-5 {
  margin-left: 31.5%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-6 {
  margin-left: 37.75%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-7 {
  margin-left: 44%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-8 {
  margin-left: 50.25%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-9 {
  margin-left: 56.5%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-10 {
  margin-left: 62.75%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-11 {
  margin-left: 69%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-12 {
  margin-left: 75.25%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-13 {
  margin-left: 81.5%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-14 {
  margin-left: 87.75%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-15 {
  margin-left: 94%;
}

/* line 45, ../../sass/framework/_framework_grid.scss */
.offset-16 {
  margin-left: 100.25%;
}

/* line 51, ../../sass/framework/_framework_grid.scss */
.hidden {
  display: none;
}

/*----------------------*\
	$Medium (tablettes)
\*---------------------- */
@media screen and (min-width: 640px) {
  /*.center-m{margin: 0 auto;}*/
  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-1 {
    width: 5.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-2 {
    width: 12%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-3 {
    width: 18.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-4 {
    width: 24.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-5 {
    width: 30.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-6 {
    width: 37%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-7 {
    width: 43.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-8 {
    width: 49.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-9 {
    width: 55.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-10 {
    width: 62%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-11 {
    width: 68.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-12 {
    width: 74.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-13 {
    width: 80.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-14 {
    width: 87%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-15 {
    width: 93.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-m-16 {
    width: 99.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-1 {
    margin-left: 6.5%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-2 {
    margin-left: 12.75%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-3 {
    margin-left: 19%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-4 {
    margin-left: 25.25%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-5 {
    margin-left: 31.5%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-6 {
    margin-left: 37.75%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-7 {
    margin-left: 44%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-8 {
    margin-left: 50.25%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-9 {
    margin-left: 56.5%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-10 {
    margin-left: 62.75%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-11 {
    margin-left: 69%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-12 {
    margin-left: 75.25%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-13 {
    margin-left: 81.5%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-14 {
    margin-left: 87.75%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-15 {
    margin-left: 94%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-m-16 {
    margin-left: 100.25%;
  }

  /* line 51, ../../sass/framework/_framework_grid.scss */
  .hidden-m {
    display: none;
  }
}
/*----------------------*\
	$Large
\*---------------------- */
@media screen and (min-width: 1040px) {
  /*.center-l{margin-left: 50;}*/
  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-1 {
    width: 5.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-2 {
    width: 12%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-3 {
    width: 18.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-4 {
    width: 24.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-5 {
    width: 30.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-6 {
    width: 37%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-7 {
    width: 43.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-8 {
    width: 49.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-9 {
    width: 55.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-10 {
    width: 62%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-11 {
    width: 68.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-12 {
    width: 74.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-13 {
    width: 80.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-14 {
    width: 87%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-15 {
    width: 93.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../../sass/framework/_framework_grid.scss */
  .col-l-16 {
    width: 99.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-1 {
    margin-left: 6.5%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-2 {
    margin-left: 12.75%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-3 {
    margin-left: 19%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-4 {
    margin-left: 25.25%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-5 {
    margin-left: 31.5%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-6 {
    margin-left: 37.75%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-7 {
    margin-left: 44%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-8 {
    margin-left: 50.25%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-9 {
    margin-left: 56.5%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-10 {
    margin-left: 62.75%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-11 {
    margin-left: 69%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-12 {
    margin-left: 75.25%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-13 {
    margin-left: 81.5%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-14 {
    margin-left: 87.75%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-15 {
    margin-left: 94%;
  }

  /* line 45, ../../sass/framework/_framework_grid.scss */
  .offset-l-16 {
    margin-left: 100.25%;
  }

  /* line 51, ../../sass/framework/_framework_grid.scss */
  .hidden-l {
    display: none;
  }
}
/************************************************************JUMBOTRON*/
/* line 6, ../../sass/framework/_framework_composants.scss */
.jumbotron {
  /*border-radius: 20px;*/
  box-sizing: border-box;
  background-color: #eee;
  text-align: center;
  width: 100%;
  padding: 90px;
  /*min-height: 400px;*/
}
/* line 15, ../../sass/framework/_framework_composants.scss */
.jumbotron h1 {
  font-size: 4em;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: #000;
}
/* line 21, ../../sass/framework/_framework_composants.scss */
.jumbotron button {
  border-radius: 10px;
}

/******************************************************RESPONSIVE NAVBAR*/
/* line 28, ../../sass/framework/_framework_composants.scss */
.navbar_responsive {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*@include col(12, 12, 0);*/
  margin: 0;
  width: 100%;
  display: none;
}
/* line 34, ../../sass/framework/_framework_composants.scss */
.navbar_responsive li {
  font-size: 1rem;
  display: inline-block;
  list-style: none;
  /* pour enlever les puces sur IE7 */
  /*margin: 10px;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}
/* line 47, ../../sass/framework/_framework_composants.scss */
.navbar_responsive li.active {
  background-color: lightblue;
}
/* line 49, ../../sass/framework/_framework_composants.scss */
.navbar_responsive li.active a {
  color: #fff;
}
/* line 54, ../../sass/framework/_framework_composants.scss */
.navbar_responsive li a {
  text-decoration: none;
  color: lightblue;
  font-weight: bold;
  font-size: 1.2em;
  height: 100%;
}

/*----------------------*\
	$Medium (tablettes)
\*---------------------- */
@media screen and (min-width: 640px) {
  /* line 68, ../../sass/framework/_framework_composants.scss */
  .navbar_responsive {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
  /* line 72, ../../sass/framework/_framework_composants.scss */
  .navbar_responsive li {
    width: 25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0;
    margin: 0 0;
    border-right: 1px solid lightgray;
  }
}
/*----------------------*\
	$Large
\*---------------------- */
@media screen and (min-width: 1040px) {
  /* line 82, ../../sass/framework/_framework_composants.scss */
  .navbar_responsive {
    width: 960px;
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 86, ../../sass/framework/_framework_composants.scss */
  .navbar_responsive li {
    background-color: #fff;
    border: none;
  }
  /* line 90, ../../sass/framework/_framework_composants.scss */
  .navbar_responsive li.active {
    background-color: #fff;
    color: lightblue;
  }
  /* line 93, ../../sass/framework/_framework_composants.scss */
  .navbar_responsive li.active a {
    color: lightblue;
  }
  /* line 97, ../../sass/framework/_framework_composants.scss */
  .navbar_responsive li a {
    background-color: #fff;
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  }
  /* line 101, ../../sass/framework/_framework_composants.scss */
  .navbar_responsive li a:hover {
    color: lightblue;
  }
}
/*******************************************************NAVBAR*/
/* line 115, ../../sass/framework/_framework_composants.scss */
.navbar {
  font-size: 0;
  width: 100%;
  background-color: #BDC3C7;
}
/* line 120, ../../sass/framework/_framework_composants.scss */
.navbar li {
  font-size: 1rem;
  display: inline-block;
  list-style: none;
  /* pour enlever les puces sur IE7 */
  /*margin: 10px;*/
  width: 10%;
  box-sizing: border-box;
  text-align: center;
  border-right: 2px solid #7f8c8d;
  padding: 10px;
}
/* line 131, ../../sass/framework/_framework_composants.scss */
.navbar li:hover {
  background-color: #7f8c8d;
}
/* line 135, ../../sass/framework/_framework_composants.scss */
.navbar li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  height: 100%;
}
/* line 143, ../../sass/framework/_framework_composants.scss */
.navbar li.disabled a {
  color: #7f8c8d;
}
/* line 145, ../../sass/framework/_framework_composants.scss */
.navbar li.disabled a:hover {
  cursor: default;
}
/* line 149, ../../sass/framework/_framework_composants.scss */
.navbar li.disabled:hover {
  background-color: #BDC3C7;
}
/* line 153, ../../sass/framework/_framework_composants.scss */
.navbar li.active {
  background-color: #7f8c8d;
}

/****************breadcrumb ***********************/
/* line 160, ../../sass/framework/_framework_composants.scss */
.breadcrumb {
  margin-bottom: 30px;
  margin-top: 30px;
}
@media screen and (max-width: 960px) {
  /* line 160, ../../sass/framework/_framework_composants.scss */
  .breadcrumb {
    display: none;
  }
}

/* line 170, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li {
  list-style-type: none;
  display: inline;
}

/* line 175, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li a {
  display: block;
  float: left;
  height: 20px;
  background: #3498db;
  text-align: center;
  padding: 30px 20px 0 30px;
  position: relative;
  margin: 0 10px 0 0;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  box-sizing: content-box;
}
/* line 189, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li a:after {
  content: "";
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #3498db;
  position: absolute;
  right: -25px;
  top: 0;
  z-index: 1;
}
/* line 200, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li a:before {
  content: "";
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid white;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 210, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li a:hover {
  background: #fa5ba5;
}
/* line 214, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li a:hover:after {
  border-left-color: #fa5ba5;
}

/* line 220, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 224, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li:first-child a:before {
  display: none;
}
/* line 229, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li:last-child a {
  padding-right: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 234, ../../sass/framework/_framework_composants.scss */
.breadcrumb ul li:last-child a:after {
  display: none;
}

/*****************Pagination************************/
/* line 244, ../../sass/framework/_framework_composants.scss */
.pagination {
  margin-bottom: 30px;
  text-align: center;
}
/* line 248, ../../sass/framework/_framework_composants.scss */
.pagination li {
  display: inline-block;
  padding: 0px 9px;
  margin-right: 4px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  background: #e9e9e9;
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  color: #717171;
  line-height: 1.5em;
}
/* line 261, ../../sass/framework/_framework_composants.scss */
.pagination li a {
  text-decoration: none;
  color: black;
}
/* line 266, ../../sass/framework/_framework_composants.scss */
.pagination li:hover {
  background: #fefefe;
  cursor: pointer;
}
/* line 271, ../../sass/framework/_framework_composants.scss */
.pagination li.active {
  border: none;
  background: #616161;
  color: #f0f0f0;
}
/* line 277, ../../sass/framework/_framework_composants.scss */
.pagination li.disabled {
  background: lightgrey;
  cursor: default;
}
/* line 281, ../../sass/framework/_framework_composants.scss */
.pagination li.disabled a {
  cursor: default;
}

/*****************Blockquote***************/
/* line 289, ../../sass/framework/_framework_composants.scss */
span.quoted {
  font-family: Georgia;
  display: block;
  margin: 14px 0 0 0;
  font-style: italic;
}
/* line 296, ../../sass/framework/_framework_composants.scss */
span.quoted:before {
  content: "<";
  font-size: 40px;
  color: #999;
  line-height: 0;
  display: inline-block;
  margin: 0 6px 0 0;
}
/* line 305, ../../sass/framework/_framework_composants.scss */
span.quoted:after {
  content: ">";
  font-size: 40px;
  color: #999;
  line-height: 0;
  display: inline-block;
  margin: 0 0 0 4px;
}

/*import grid 8 colonnes*/
/* line 6, ../../sass/framework/_framework_grid8.scss */
.grid-container {
  /*width: 960px;*/
  width: 100%;
  min-height: 200px;
  background-color: lightblue;
  font-size: 0;
}

/* line 14, ../../sass/framework/_framework_grid8.scss */
.column_1, .column_2, .column_3, .column_4, .column_5, .column_6, .column_7, .column_8 {
  background-color: lightpink;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  /*float: left;*/
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin: 0 1%;
  padding: 1em;
}

/* line 26, ../../sass/framework/_framework_grid8.scss */
.row {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1%;
}

/*Grid width FLOAT*/
/*.row:after{
	clear: left;
	display: block;
	content: "";
}*/
/* line 42, ../../sass/framework/_framework_grid8.scss */
.column_1 {
  width: 10.5%;
}

/* line 46, ../../sass/framework/_framework_grid8.scss */
.column_2 {
  width: 23%;
}

/* line 50, ../../sass/framework/_framework_grid8.scss */
.column_3 {
  width: 35.5%;
}

/* line 54, ../../sass/framework/_framework_grid8.scss */
.column_4 {
  width: 48%;
}

/* line 58, ../../sass/framework/_framework_grid8.scss */
.column_5 {
  width: 60.5%;
}

/* line 62, ../../sass/framework/_framework_grid8.scss */
.column_6 {
  width: 73%;
}

/* line 66, ../../sass/framework/_framework_grid8.scss */
.column_7 {
  width: 85.5%;
}

/* line 70, ../../sass/framework/_framework_grid8.scss */
.column_8 {
  width: 98%;
}

/* line 75, ../../sass/framework/_framework_grid8.scss */
.offset1 {
  margin-left: 13.5%;
}

/* line 78, ../../sass/framework/_framework_grid8.scss */
.offset2 {
  margin-left: 26%;
}

/* line 81, ../../sass/framework/_framework_grid8.scss */
.offset3 {
  margin-left: 38.5%;
}

/* line 84, ../../sass/framework/_framework_grid8.scss */
.offset4 {
  margin-left: 51%;
}

/* line 87, ../../sass/framework/_framework_grid8.scss */
.offset5 {
  margin-left: 63.5%;
}

/* line 90, ../../sass/framework/_framework_grid8.scss */
.offset6 {
  margin-left: 76%;
}

/* line 93, ../../sass/framework/_framework_grid8.scss */
.offset7 {
  margin-left: 88.5%;
}

/* line 96, ../../sass/framework/_framework_grid8.scss */
.offset8 {
  margin-left: 101%;
}

/*import grid mixin colonnes*/
/*import form*/
/*****************FORMULAIRE *********************/
/* line 3, ../../sass/framework/_framework_form.scss */
.form-horizontal {
  padding-bottom: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 11, ../../sass/framework/_framework_form.scss */
.form-horizontal .control-label {
  float: left;
  margin-right: 2%;
  padding-top: 2%;
}
/* line 16, ../../sass/framework/_framework_form.scss */
.form-horizontal .form-group {
  margin-bottom: 2%;
}
/* line 19, ../../sass/framework/_framework_form.scss */
.form-horizontal .form-group label {
  font-weight: 700;
  display: inline-block;
  width: 120px;
}

/*listes*/
/* line 27, ../../sass/framework/framework.scss */
ul {
  list-style-type: circle;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

/* line 33, ../../sass/framework/framework.scss */
.list-style-square {
  list-style-type: square;
}

/* line 37, ../../sass/framework/framework.scss */
.list-style-none {
  list-style-type: none;
}

/*Other*/
/* line 42, ../../sass/framework/framework.scss */
#content {
  width: 960px;
  margin: auto;
}
