/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/
@import "framework/_framework_grid";
@import "framework/_framework_button";
@import "framework/_variable";


/*****************************************************/
/******************** VARIABLE ***********************/
/*****************************************************/

@import "style/variable";


/*****************************************************/
/********************** BODY *************************/
/*****************************************************/

@import "style/body";

/******************************************************/
/******************** HEADER *************************/
/*****************************************************/

@import "style/header";


/*****************************************************/
/******************* JUMBOTRON ***********************/
/*****************************************************/

@import "style/jumbotron";

/*****************************************************/
/******************* INDEX ***************************/
/*****************************************************/

@import "style/index_staff";

/*****************************************************/
/******************* SEARCH **************************/
/*****************************************************/

@import "style/search";


/*****************************************************/
/******************* DETAIL **************************/
/*****************************************************/

@import "style/detail";

/*****************************************************/
/******************* EMPRUNT **************************/
/*****************************************************/

@import "style/emprunt";


/*****************************************************/
/******************* RECAP EMPRUNT *******************/
/*****************************************************/

@import "style/recap_emprunt";

/*****************************************************/
/******************* RETOUR **************************/
/*****************************************************/

@import "style/retour";


/*****************************************************/
/******************* RECAP RETOUR ********************/
/*****************************************************/

@import "style/recap_retour";


/*****************************************************/
/******************* INSERT MEMBRE *******************/
/*****************************************************/

@import "style/insert_adherent";


/*****************************************************/
/******************* DETAIL **************************/
/*****************************************************/

@import "style/genre";



/******************************************************/
/******************** SECTION ************************/
/*****************************************************/


section{
    text-align: center;
}

/*
article.new, article.description, article.horaire{
    @include col(10,12,0%);
    margin-bottom: 5%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
    h2 {
        font-size: 1.3em;
        text-align: left;
    }
    
    h4{
        font-size: 1em;
        text-align: left;
    }
    
    ul{
        text-align: left;
    }
    
    p{
        text-align: left;
    }
}
*/

/*****************************************************/
/******************* FOOTER **************************/
/*****************************************************/

@import "style/footer";

/****************************************************************************************/
/************************************* MEDIA QUERY *************************************/
/***************************************************************************************/


/******************************************************/
/******************** HEADER *************************/
/*****************************************************/

@media screen and (min-width: $sizeDesktop) {
.form_connect{
    background-color: black;
    height:3em;
    line-height:3em;
    
    form{
        float: right;
        display: inline-block;
        vertical-align: middle;
        
        input{
            height:2em;
            width:100px; 
        }
        
        input.btn{
            background-color: #ff6300;
            
            &:hover{
                background-color: #e0440c;
            }
        }
    }
}
}