section#detail{
    height: auto;
    width: 100%;
    @media screen and (max-width : 60em){
        background-color: $background_color;    
    }
        
    div{
        @include row(100%,0);
        box-sizing: border-box;
        background-color: $background_color;
        padding: 1rem;
        @media screen and (min-width : 60em){
            @include row(60rem,0);
            margin: auto;
        }
        
        // Info sur le doc:
        article:first-of-type{
            width: 100%;
            @media screen and (min-width : 40em){
                padding: 1rem 0rem 0.5rem 0rem;
            }
                
            //div image:
            > div:first-of-type{
                background-color: $background_section;
                
                @media screen and (max-width : 40em){
                    display: block;
                    padding: 0;
                }
                @media screen and (min-width : 40em){
                    display: inline-block;
                    vertical-align: top;
                    width: 12rem;
                    height: calc( 14rem - 2px);
                    padding: 0;
                    overflow: hidden;
                }
                
                img{
                    display: block;
                    background-color: $background_color_contrast;
                    width: 100%;
                    max-width: 20rem;
                    margin: auto;
                    @media screen and (min-width : 40em){
                        width: auto;
                        height: 100%;
                        max-width: none;
                    }
                }
            }
            
            //div info textuelles:
            > div:nth-of-type(2){
                box-sizing: border-box;
                padding: 0.5rem 0rem;
                
                @media screen and (min-width : 40em){
                   display: inline-block;
                   vertical-align: top;
                   width: calc(100% - 12rem);
                   padding: 0rem 0rem 0rem 0.5rem;
                }
                
                h2{
                    background-color: $background_section;
                    font-size: 1.8rem;
                    margin-bottom: 0.5rem;
                    padding: 0.5rem 0rem 0.5rem 1rem;
                    text-align: left;
                    color:$background_color_contrast;
                }
                
                h3{
                    background-color: $background_section;
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                    padding: 0.5rem 0rem 0.5rem 1rem;
                    text-align: left;
                    color:$background_color_contrast;
                    
                     &:nth-of-type(2){
                        padding: 0.6rem 0rem 0.6rem 1rem;
                        font-size: 1rem;
                    }
                }
                
                h4{
                    display: inline-block;
                    box-sizing: border-box;
                    width: calc(50% - 0.25rem);
                    padding: 0.5rem 0rem 0.5rem 1rem;
                    margin-bottom: 0.5rem;
                    background-color: $background_section;
                    color:$background_color_contrast;
                    font-size: 1.2rem;
                    text-align: left;
                    
                    &:first-of-type{
                        margin-right: 0.5rem;
                    }
                }
                
                p{
                    display: inline-block;
                    box-sizing: border-box;
                    vertical-align: top;
                    width: calc(100% - 2.5rem);
                    height: 2.5rem;
                    line-height: 2.5rem;
                    margin:0;
                    padding: 0rem 0rem 0rem 1rem;
                    background-color: $background_section;
                    color:$background_color_contrast;
                    font-size: 1rem;
                    text-align: left;
                    
                    + label{
                        display: inline-block;
                        box-sizing: border-box;
                        vertical-align: top;
                        width: 2.5rem;
                        height: 2.5rem;
                        
                        &#dispo{
                            background-image: url('../data/icons/check.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 1.6rem;
                            background-color: green;
                        }
                        
                        &#indispo{
                            background-image: url('../data/icons/cross.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 1.6rem;
                            background-color: red;
                        }
                    }
                }
            }
        }
        
        //Description du doc:
        article:nth-of-type(2){
            width: 100%;
            @media screen and (min-width : 40em){
                padding: 0.5rem 0rem 0.5rem 0rem;
            }
            
            p{
                box-sizing: border-box;
                background-color: $background_section;
                font-size: 1rem;
                margin-bottom: 0.5rem;
                padding: 0.5rem 1rem 0.5rem 1rem;
                height: auto;
                min-height: 14rem;
                text-align: justify;
                color:$background_color_contrast;
            }
        }
    }    
}