footer{
    background-color: $background_color_contrast;
    width: 100%;
    height: 4em;
    position: absolute;
    bottom: 0;
    
    div{
        @include row(100%,0);
        @media screen and (min-width : 60em){
            @include row(60em,0);
            margin: auto;
        }
        text-align: center;
        
        p{
            display: inline-block;
            padding-top: 1.5em;
            margin: 0;
            color: white;
        }
    }
}