
header{
    width: 100%;
    background-color: $background_header;
    
    div{
       @include row(100%,0);
       font-size: 0;
       @media screen and (min-width : 60em){
            @include row(60rem,0);
            margin: 0rem auto 1rem;
        }
        text-align: right;
        
        
        a{
            font-size: 1rem;
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
            height: 2rem;
            width: 2rem;
            margin: 0.4rem 0.5rem 0.4rem 0.5rem;
            padding: 0.2rem;
            background-color: $color_primary;
            color: white;
            text-align: center;
            @media screen and (min-width : 60em){
                margin: 0.4rem 0rem 0.4rem 0.5rem;
            }
            @media screen and (max-width : 30em){
                width: calc(100% - 0.8rem);
                margin: 0.5rem 0.4rem 0.5rem 0.4rem;
            }
            &:hover{
                background-color: $color_primary_contrast;
            }
                
            img{
                width: 1.6rem; 
            }
        }
    }
}
