section#index_staff{
    height: auto;
    width: 100%;
    @media screen and (max-width : 60em){
        background-color: $background_color;
    }
    
    div{
        @include row(100%,0);
        box-sizing: border-box;
        background-color: $background_color;
        @media screen and (min-width : 60em){
            @include row(60em,0);
            margin: auto;
        }
        height: auto;
        padding: 1em;
         
        article{
            
            h1{
                box-sizing: border-box;
                font-size: 3.5rem;
                width: 90%;
                margin: 1rem auto;
                padding: 2rem;
                overflow: hidden;
                background-color: $background_section;
                
                @media screen and (min-width : 45em) and (max-width : 55em){
                    font-size: 3rem;
                }
                @media screen and (min-width : 40em) and (max-width : 45em){
                    font-size: 2.5rem;
                }
                @media screen and (min-width : 35em) and (max-width : 40em){
                    font-size: 2rem;
                }
                @media screen and (max-width : 35em){
                    font-size: 1.5rem;
                }
                a{
                    display: block;
                    color:$background_color_contrast;
                    text-decoration: none;
                    &:hover{
                        color:$color_primary;
                    }
                }
            }
        }
    }
}