section#insert_adherent{
    height: auto;
    width: 100%;
    @media screen and (max-width : 60em){
        background-color: $background_color;
    }
    
    div{
        @include row(100%,0);
        box-sizing: border-box;
        @media screen and (min-width : 60em){
            @include row(60em,0);
            margin: auto;
            &:first-of-type{
                background-color: $background_color;
            }
        }
        height: auto;
        padding: 1rem;
        @media screen and (max-width : 30em){
            padding: 1rem 0.5rem;
        }
        
        >article:first-of-type{
            
            h2{
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: 100% ;
                height: 4rem;
                line-height: 4rem;
                background-color: $color_primary;
                color:white;
                font-size: 1rem;
                margin-bottom: 0.5rem;
                @media screen and (min-width : 35em){
                    font-size: 1.6rem;
                }
            }
        }
        
        >article:nth-of-type(2){
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding:0;
            font-size: 0rem;
            
            form{
                
                > div{
                    display: block;
                    vertical-align: top;
                    width: 100%;
                    box-sizing: border-box;
                    border: 0;
                    
                    padding: 0;
                    font-size: 1.2rem;
                    @media screen and (min-width : 35em){
                        display: inline-block;
                        width: calc( 50% - 0.25rem);
                        &:first-of-type{
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
            
            div{
                h3{
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: top;
                    width: 100% ;
                    background-color: $color_primary;
                    color:white;
                    margin-bottom: 0.5rem;
                    padding: 1rem;
                    font-size: 1.2rem;
                    @media screen and (min-width : 35em){
                        font-size: 1.4rem;
                    }
                }
                
                input{
                    display: block;
                    width: 100%;
                    height: 3rem;
                    line-height: 3rem;
                    box-sizing: border-box;
                    border: 0; 
                    font-size: 1.2rem;
                    background-color: white;
                    margin-bottom: 0.5rem;
                    padding: 0rem 1rem;
                }
                
                select{
                    -webkit-appearance: none;
                    -moz-appearance:none;
                    display: inline-block;
                    width: 100%;
                    box-sizing: border-box;
                    height: 3rem;
                    margin-bottom: 0.5rem;
                    padding: 0.5rem 0.5rem 0.5rem 1rem; 
                    border-radius: 0;
                    border: 0;
                    font-size: 1.2rem;
                    option{
                        padding: 0.5rem;
                    }
                    cursor: pointer;
                }
            }
            
            input[type='submit']{
                border: none;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: 12rem;
                padding: 1rem;
                color: white;
                text-decoration: none;
                background-color: $color_primary;
                font-size: 1rem;
                cursor: pointer;
                &:hover{
                    background-color: $color_primary_contrast;
                }
            }
        }
    }
}