section#jumbotron{
    display: block;
    height: auto;
    width: 100%;
    background-image: url('../data/images/interieur.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-color: $background_section;

    div{
        @include row(100%,0);
        @media screen and (min-width : 60em){
            @include row(60em,0);
            margin: auto;
        }
        height: auto;
        padding-bottom: 1em;
        
        h2{
            @media screen and (max-width : 25em){
                font-size: 2.5em;
            }
            padding: 1em;
            font-size: 3.6em;
            color: white;//$background_color_contrast;
            margin:0;
        }
        a{
            @media screen and (max-width : 25em){
                width: 50%;
                font-size: 1.2em;
            }
            display: block;
            width: 10em;
            margin: 0em auto 0.5em;
            padding: 0.5em;
            background-color: $color_primary;
            color: white;
            font-size: 1.5em; 
            font-weight: bold;
            text-decoration: none;
            &:hover{
                background-color: $color_primary_contrast;
            }
        }
    }
}