section#retour{
    height: auto;
    width: 100%;
    @media screen and (max-width : 60em){
        background-color: $background_color;
    }
    
    div{
        @include row(100%,0);
        box-sizing: border-box;
        background-color: $background_color;
        @media screen and (min-width : 60em){
            @include row(60em,0);
            margin: auto;
        }
        height: auto;
        padding-top: 1em;
        
        // titre
       > article:first-of-type{
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding:1rem;
            font-size: 0rem;

            a{
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: 4rem;
                height: 4rem;
                margin-right: 0.5rem;
                
                font-size: 1rem;
                background-image: url('../data/icons/return.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size:  70%;
                background-color: $color_primary;
            }
            
            h2{
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: calc( 100% - 4.5rem);
                height: 4rem;
                line-height: 4rem;
                background-color: $color_primary;
                color:white;
                font-size: 1rem;
                
                @media screen and (min-width : 35em){
                    font-size: 2rem;
                }
            }
        }
        
        //formulair
        form{
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding:0rem 1rem 1rem 1rem;
            font-size: 0rem;
            
            div{
                width: 100%;
                
            }
            
            input[type='text'], #ajoutEmprunt>input[type='text']{
                display: block;
                width: 100%;
                height: 3rem;
                box-sizing: border-box;
                border: 0;
                margin-bottom: 0.5rem;
                padding: 0.5rem 0.5rem 0.5rem 1rem; 
                font-size: 1.2rem;
            }
            
            input[type='button']{
                display: block;
                height: 3.5rem;
                width: 3.5rem;
                float: right;
                background-color: white;
                border: 0;
                border-radius: 0;
                background-image: url('../data/icons/add_black.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size:  40%;
                background-color: white;
                cursor: pointer;
            }
            
            input[type='submit']{
                display: block;
                width: 11rem;
                height: 3.5rem;
                border: 0;
                border-radius: 0;
                font-size: 1rem;
                background-color: $color_primary;
                color:white;
                margin: 4.5rem auto;
                cursor: pointer;
                &:hover{
                    background-color: $color_primary_contrast;
                }
            }
            
        }
    }
}