section#search{
    height: auto;
    width: 100%;
    @media screen and (max-width : 60em){
        background-color: $background_color;
    }
    
    div{
        @include row(100%,0);
        box-sizing: border-box;
        background-color: $background_color;
        @media screen and (min-width : 60em){
            @include row(60rem,0);
            font-size: 0;
            box-sizing: border-box;
            padding: 1rem;
            margin: auto;
        }
        background-color: $background_color;
        height: auto;
        padding-top: 1rem;
        font-size: 1rem;
        
        // Article contenant le formulaire de recherche:
        article:first-of-type{
            @media screen and (min-width : 60em){
                @include col(3, 10, 0);
                vertical-align: top;
                box-sizing: border-box;
                padding: 0.5rem;
                font-size: 1rem;
            }
            
            // Titre RECHERCHE:
            h2{
                display:none;
                @media screen and (min-width : 60em){
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    background-color: $color_primary;
                    color: white;
                    padding: 1rem;
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                }
            }
            
            // Le formulaire de recherche:
            form{
                @media screen and (min-width : 25em) and (max-width : 60em){
                    box-sizing: border-box;
                    font-size: 0;
                    padding: 0rem 1rem;
                    max-width: 45rem;
                    margin: auto;
                }
                @media screen and (min-width : 60em){
                    box-sizing: border-box;
                    font-size: 0;
                    width: 100%;
                    margin: auto;
                    padding: 0;
                }
                
                // div contenant les inputs et div contenant bouton:
                div{
                    box-sizing: border-box;
                    padding: 0;
                    @media screen and (min-width : 60em){
                        width: 100%;
                    }
                }
                
                // div contenant les inputs:
                > div:first-of-type{
                    @media screen and (max-width : 25em){
                        @include col(9, 10, 0);
                        margin: auto;
                    }
                    
                    @media screen and (min-width : 25em) and (max-width : 60em){
                        display: inline-block;
                        width: calc(100% - 4.5rem);
                    }
                    
                    @media screen and (min-width : 60em){
                        display: block;
                        width: 100%;
                        padding: 0;
                    }
                    
                    input[type='text']{
                        display: inline-block;
                        width: calc(100% - 2.5rem);
                        height: 2.5rem;
                        box-sizing: border-box;
                        border: 0;
                        margin-bottom: 0.5rem;
                        padding: 0.5rem 0.5rem 0.5rem 1rem; 
                        font-size: 1.2rem;
                    }
                    
                    select{
                        -webkit-appearance: none;
                        -moz-appearance:none;
                        display: inline-block;
                        width: calc(100% - 2.5rem);
                        box-sizing: border-box;
                        height: 2.5rem;
                        margin-bottom: 0.5rem;
                        padding: 0.5rem 0.5rem 0.5rem 1rem; 
                        border-radius: 0;
                        border: 0;
                        font-size: 1.2rem;
                        option{
                            padding: 0.5rem;
                        }
                        cursor: pointer;
                    }
                    
                    // div englobant l'association input/label:
                    div{
                        width: 100%;
                        height: auto;
                        font-size: 0;
                        padding: 0;
                        margin: 0;
                        input{
                            vertical-align: top;
                        }
                        select{
                            vertical-align: top;
                        }
                        label{
                            display: inline-block;
                            vertical-align: top;
                            box-sizing: border-box;
                            width: 2.5em;
                            height: 2.5em;
                            padding: 0;
                            margin: 0;
                            background-color: $color_primary;
                            font-size: 1rem;
                            img{
                                width: 1.5em;
                                padding: 0.5em; 
                            }
                        }
                    }
                }
                
                // div contenant les boutons:
                > div:nth-of-type(2){  
                    @media screen and (max-width : 25em){
                        @include col(9, 10, 0);
                        font-size: 0;
                    }
                    
                    @media screen and (min-width : 25em) and (max-width : 60em){
                        display: inline-block;
                        width: 4.5rem;
                        vertical-align: top;
                        padding-left: 0.5rem;
                    }
                    
                    @media screen and (min-width : 60em){
                        display: block;
                        width: 100%;
                        padding: 0;
                    }
                    
                    input[type='submit'],input[type='reset']{
                        @media screen and (max-width : 25em){
                            display: inline-block;
                        }
                        @media screen and (min-width : 25em) and (max-width : 60em){
                            display: block;
                            padding: 1.4rem;
                            width: 4rem;
                        }
                        @media screen and (min-width : 60em){
                            display: inline-block;
                            width: calc(50% - 0.25rem);
                            height: 4rem;
                        }
                        box-sizing: border-box;
                        width: calc(50% - 0.25rem);
                        border: 0;
                        border-radius: 0;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 2rem;
                        background-color: $color_primary;
                        padding: 1rem;
                        font-size: 1rem;
                        cursor: pointer;
                        &:hover{
                            background-color: $color_primary_contrast;
                        }
                    }
                    
                    input[type='submit']{
                        background-image: url('../data/icons/check.png');
                    }
                    
                    input[type='reset']{
                        background-image: url('../data/icons/refresh.png');
                    }
                    
                    >input:first-child{
                        @media screen and (max-width : 25em){
                            margin-right: 0.5rem;
                        }
                        @media screen and (min-width : 25em) and (max-width : 60em){
                            margin-bottom: calc(0.5rem + 1px);
                        }
                        @media screen and (min-width : 60em){
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
        
        // separation des deux articles:
        hr{
            width: calc(100% - 2rem);
            max-width: 43rem;
            margin: 0.5rem auto 0rem;
            border: 0;
            border-bottom: 1px solid $background_color_contrast;
            @media screen and (min-width : 25em) and (max-width : 60em){
                margin: auto;
            }
            @media screen and (min-width : 60em){
                display: none;
            }
        }
        
        // article contenant la liste des resultats:
        article:nth-of-type(2){
            @media screen and (max-width : 25em){
                @include col(9, 10, 0);
            }
            @media screen and (min-width : 25em) and (max-width : 60em){
                box-sizing: border-box;
                max-width: 45rem;
                margin: auto;
                padding: 0rem 1rem;
            }
            @media screen and (min-width : 60em){
                @include col(7, 10, 0);
                box-sizing: border-box;
                vertical-align: top;
                padding: 0.5rem;
                font-size: 1rem;
            }
                
            div{
                box-sizing: border-box;
                margin: 0.5rem auto;
                background-color: white;
                text-align: left;
                padding: 1rem;
                overflow: hidden;
                @media screen and (min-width : 60em){
                    box-sizing: border-box;
                    width: 100%;
                }
                
                // ensemble des div text/image:
                > div{
                    box-sizing: border-box;
                    padding: 0em;
                    margin: 0;
                }
                
                // div contenant les info textuelles:
                > div:first-child{
                    @media screen and (max-width : 30em){
                        display: block;
                    }
                    @media screen and (min-width : 30em) and (max-width : 60em){
                        display: inline-block;
                        width: calc( 100% - 8rem);
                        vertical-align: top;
                    }
                    @media screen and (min-width: 60em){
                        display: inline-block;
                        width: calc( 100% - 8rem);
                        vertical-align: top;
                    }
                    
                    h2{
                        font-size: 1.5rem;
                        a{
                            color:black;
                            &:hover{
                                color: $color_primary;
                            }
                        }
                    }
                    
                    h3{
                        font-size: 0.9rem;
                        color: $background_color_contrast;
                    }
                    
                    h4{
                        font-size: 0.8rem;
                        color: $background_color_contrast;
                    }
                    
                    p{
                        margin-top: 0.5rem;
                        font-size: 0.8rem;
                        color: $background_color_contrast;
                    }
                }
                
                // div contenant l'image:
                > div:last-child{
                    @media screen and (max-width : 30em){
                        display: none;
                    }
                    @media screen and (min-width : 30em) and (max-width : 60em){
                        display: inline-block;
                        width: 8rem;
                        vertical-align: top;
                    }
                    @media screen and (min-width : 60em){
                        display: inline-block;
                        width: 8rem;
                        vertical-align: top;
                    }
                    img{
                        width: 7rem;
                        margin-left: 1rem;
                        background-color: $background_color_contrast;
                    }
                }
            }
            
            > div:first-of-type{
                @media screen and (min-width : 60em){
                    margin-top: 0;
                }
            }
        }
    }
}