@import "compass/css3/box-sizing";

$col: 10.5%;
$gutter: 2%;

.grid-container{
	/*width: 960px;*/
	width: 100%;
	min-height: 200px;
	background-color: lightblue;
	font-size: 0;
}

%column{
	background-color: lightpink;
	@include box-sizing(border-box);
	display: inline-block;
	/*float: left;*/
	margin: 0;
	padding: 0;
	font-size: 1rem;
	margin: 0 $gutter/2;
	padding: 1em;
}

.row{
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: $gutter/2;
}


/*Grid width FLOAT*/
/*.row:after{
	clear: left;
	display: block;
	content: "";
}*/

.column_1{
	@extend %column;
	width: $col;
}
.column_2{
	@extend %column;
	width: 2*($col)+$gutter;
}
.column_3{
	@extend %column;
	width: 3*($col)+2*$gutter;
}
.column_4{
	@extend %column;
	width: 4*($col)+3*$gutter;
}
.column_5{
	@extend %column;
	width: 5*($col)+4*$gutter;
}
.column_6{
	@extend %column;
	width: 6*($col)+5*$gutter;
}
.column_7{
	@extend %column;
	width: 7*($col)+6*$gutter;
}
.column_8{
	@extend %column;
	width: 8*($col)+7*$gutter;
}

.offset1{
	margin-left: $col+1.5*$gutter;;
}
.offset2{
	margin-left: 2*($col)+2.5*$gutter;
}
.offset3{
	margin-left: 3*($col)+3.5*$gutter;
}
.offset4{
	margin-left: 4*($col)+4.5*$gutter;
}
.offset5{
	margin-left: 5*($col)+5.5*$gutter;
}
.offset6{
	margin-left: 6*($col)+6.5*$gutter;
}
.offset7{
	margin-left: 7*($col)+7.5*$gutter;
}
.offset8{
	margin-left: 8*($col)+8.5*$gutter;
}

