/************Boutons*************/

%btn{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: auto;
    height: auto;
    border-radius: 0px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
}

@mixin btn($size,$background_color,$color: white){ 
    @extend %btn;
    background-color: $background_color;
    color: $color;
    &:hover {
        background-color: darken($background_color,10%);
    }
    &:active {
        box-shadow: inset 0em -0.25em 1.25em -1em darken($background_color,60%);
    }
    @if $size == 'small' {
        padding: 0.25em 0.5em 0.25em 0.5em;
        font-size: 0.8em;
        font-weight: normal;
    }
    @if $size == 'medium' {
        padding: 0.5em 1em 0.5em 1em;
        font-size: 1em;
        font-weight: bold;
    }
    @if $size == 'large' {
        padding: 0.75em 1.5em 0.75em 1.5em;
        font-size: 1.2em;
        font-weight: bold;
    }
}