body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #000;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #000;
	font-weight: bold;
	margin-bottom: 0.5em;
}

h1{
	font-size: 5em;
}
h2{
	font-size: 3.5em;
}
h3{
	font-size: 3em;
}
h4{
	font-size: 2.5em;
}
h5{
	font-size: 2em;
}
h6{
	font-size: 1.2em;
}

small{
	font-size: 0.7em;
	color: #ABB7B7;
}

.small{
	font-size: 0.7em;
	color: #ABB7B7;
}

p{
	margin-bottom: 1em;
}

mark{
	background-color: #F7CA18;
	color: #000;
}

del{
	text-decoration: line-through;
}

ins{
	text-decoration: underline;
}

u{
	text-decoration: underline;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

abbr{
	text-decoration: none;
	border-bottom: 1px dotted black;
}

blockquote{
	margin-left: 1em;
	font-style: italic;
}

pre{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: #ABB7B7;
}

code{
	color: #6C7A89;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	border: 1px solid black;
	padding: 2px;
}

kbd{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.text-align-center{
	text-align: center;
}

.text-align-left{
	text-align: left;
}

.text-align-right{
	text-align: right;
}

.text-align-justify{
	text-align: justify;
}

.majuscule{
	text-transform: uppercase;
}


.mnuscule{
	text-transform: lowercase;
}