@import "compass/css3";
@import "framework_grid";


/************************************************************JUMBOTRON*/
.jumbotron{
	/*border-radius: 20px;*/
	box-sizing: border-box;
	background-color: #eee;
	text-align: center;
	width: 100%;
	padding: 90px;
	/*min-height: 400px;*/
	
		h1{
			font-size: 4em;
			font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
			color: #000;
		}
		
		button{
			border-radius: 10px;
		}
}


/******************************************************RESPONSIVE NAVBAR*/
.navbar_responsive{
	@include box-sizing(border-box);
	/*@include col(12, 12, 0);*/
	margin: 0;
	width: 100%;
	display: none;
	li{
		font-size: 1rem;
		display: inline-block;
		list-style: none; /* pour enlever les puces sur IE7 */
		/*margin: 10px;*/
		@include box-sizing(border-box);
		text-align: center;
		padding: 10px;
		width: 100%;
		background-color: #fff;
		border-bottom: 1px solid lightgray;
		
	
		&.active{
			background-color: lightblue;
			a{
				color: #fff;
			}
		}
		
		a{
			text-decoration: none;
			color: lightblue;
			font-weight: bold;
			font-size: 1.2em;
			height: 100%;		
		}
	}
}

/*----------------------*\
	$Medium (tablettes)
\*---------------------- */
@media screen and (min-width: $medium){
	.navbar_responsive{
		@include box-sizing(border-box);
		@include row(100%, 0);
		
		li{
			@include col(3, 12, 0);
			border-right: 1px solid lightgray;
		}
	}
}
/*----------------------*\
	$Large
\*---------------------- */
@media screen and (min-width: $large){
	.navbar_responsive{
		@include row(960px, 0);
		margin-left: auto;
		margin-right: auto;
		li{
			background-color: #fff;
			border: none;

			&.active{
				background-color: #fff;
				color: lightblue;
				a{
					color: lightblue;
				}
			}
			a{
				background-color: #fff;
				color: #fff;
				text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
				&:hover{
					color: lightblue;
				}
			}
		}
		
	}
}


/*******************************************************NAVBAR*/
$bchover: #7f8c8d;
$bcnavbar: #BDC3C7;

.navbar{ 
	font-size: 0;
	width: 100%;
	background-color: $bcnavbar;

	li{
		font-size: 1rem;
		display: inline-block;
		list-style: none; /* pour enlever les puces sur IE7 */
		/*margin: 10px;*/
		width: 10%;
		box-sizing: border-box;
		text-align: center;
		border-right: 2px solid $bchover;
		padding: 10px;
	
		&:hover{
			background-color: $bchover;
		}
		
		a{
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			font-size: 1.2em;
			height: 100%;		
		}
		&.disabled{
			a{
				color: #7f8c8d;
				&:hover{
					cursor: default;
				}
			}
			&:hover{
				background-color: $bcnavbar;
			}
		}
		&.active{
			background-color: $bchover;
		}
	}
}

/****************breadcrumb ***********************/
.breadcrumb{
    margin-bottom: 30px;
    margin-top: 30px;
    
     @media screen and (max-width: 960px) {
        display: none;
        
    }
}

.breadcrumb ul li{
    list-style-type: none;
    display : inline;
}

.breadcrumb ul li a {
	display: block;
	float: left;
	height: 20px;
	background: #3498db;
	text-align: center;
	padding: 30px 20px 0 30px;
	position: relative;
	margin: 0 10px 0 0; 
	font-size: 15px;
	text-decoration: none;
	color: #fff;
    box-sizing: content-box;
    
    &:after{
        content: "";  
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid #3498db;
        position: absolute; 
        right: -25px; 
        top: 0;
        z-index: 1;
    }
    
    &:before{
        content: "";  
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid white;
        position: absolute; 
        left: 0; 
        top: 0;
    }
    
    &:hover {
	   background: #fa5ba5;
    }
    
    &:hover:after {
		border-left-color: #fa5ba5;
    }
}

.breadcrumb ul li{
    &:first-child a{
        border-top-left-radius: 10px; 
        border-bottom-left-radius: 10px;
        
        &:before{
            display: none;
        }
    }
    
    &:last-child a{
        padding-right: 40px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        
        &:after{
            display: none;
        }
    }

}


/*****************Pagination************************/

.pagination{
    margin-bottom: 30px;
    text-align: center;
    
    li{
        display: inline-block;
        padding: 0px 9px;
        margin-right: 4px;
        border-radius: 3px;
        border: solid 1px #c0c0c0;
        background: #e9e9e9;
        font-size: .875em;
        font-weight: bold;
        text-decoration: none;
        color: #717171;
        line-height: 1.5em;
        
        a{
            text-decoration: none;
            color:black;
        }
        
        &:hover{
            background: #fefefe;
            cursor: pointer;
        }
        
        &.active{
            border: none;
            background: #616161;
            color: #f0f0f0;
        }
        
        &.disabled{
            background: lightgrey;
            cursor:default;
            
            a{
                cursor: default;
            }
        }
    }
}

/*****************Blockquote***************/
span.quoted {
    font-family: Georgia;
//    font-size: 16px;
    display: block;
    margin: 14px 0 0 0;
    font-style: italic;
    
    &:before {
        content: "<";
        font-size: 40px;
        color: #999;
        line-height: 0;
        display: inline-block;
        margin: 0 6px 0 0;
    }
    
    &:after {
        content: ">";
        font-size: 40px;
        color: #999;
        line-height: 0;
        display: inline-block;
        margin: 0 0 0 4px;
    }
}
   

