/*import reset*/
@import url("../../stylesheets/reset_meyer.css");

/*import police, code , blockquote, machin comme ça*/
@import "framework_police";

/*import button*/
@import "framework_button";

/*import alertes messages*/
@import "framework_alertes";

/*import composants*/
@import "framework_composants";

/*import grid 8 colonnes*/
@import "framework_grid8";

/*import grid mixin colonnes*/
@import "framework_grid";

/*import form*/
@import "framework_form";


/*listes*/
ul{
	list-style-type: circle;
	margin-left: 1.5em;
	margin-bottom: 1em;
}

.list-style-square{
	list-style-type: square;
}

.list-style-none{
	list-style-type: none;
}

/*Other*/
#content{
	width: 960px;
	margin: auto;
}