/*****************************************************************Alertes*/
$cinfo: #00529B;
$bcinfo: #BDE5F8;
$csuccess: #4F8A10;
$bcsuccess: #DFF2BF;
$cwarning: #9F6000;
$bcwarning: #FEEFB3;
$cerror: #D8000C;
$bcerror: #FFBABA;

.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: $cinfo;
	background-color: #BDE5F8;
	background-image: url('img/info.png');
}
.success {
	color: $csuccess;
	background-color: $bcsuccess;
	background-image:url('success.png');
}
.warning {
	color: $cwarning;
	background-color: $bcwarning;
	background-image: url('warning.png');
}
.error {
	color: $cerror;
	background-color: $bcerror;
	background-image: url('error.png');
}