/*****************FORMULAIRE *********************/

.form-horizontal{
	padding-bottom:2%;
	margin-bottom:2%;
	margin-top:2%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
    .control-label{
        float: left;
        margin-right: 2%;
        padding-top: 2%;
    }  
    .form-group{
	   margin-bottom: 2%;
        
        label{
	       font-weight: 700;
	       display: inline-block;
	       width:120px;
        }
    }
}