@import "compass/css3/box-sizing";

/*----------------------*\
	$Variables
\*---------------------- */

$columns: 16!default;
$gutter: 0.5%!default;

$medium: 640px!default;
$large: 1040px!default;


/*----------------------*\
	$Mixins
\*---------------------- */

@mixin row($width, $margin){
	width: $width;
	display: block;
	margin-bottom: $margin;
}

@mixin col($nbcol, $tcol, $wgutter, $offset:0){
	$col : (100% -($tcol * $wgutter))/$tcol;
	width: $nbcol*($col)+(($nbcol - 1)*$wgutter);
	display: inline-block;
	font-size: 1rem;
	margin: 0 ($wgutter/2);
	
	@if $offset != 0 {
		margin-left: ($offset * $col + ($offset) * $wgutter) + $wgutter/2 ;
    }
    @else{
        margin: 0 ($wgutter/2);
    }
}

@mixin prefixe($prefix: ''){
	@for $i from 1 through $columns{
		.col#{$prefix}-#{$i}{@include col($i, $columns, $gutter);}
	}

	@for $i from 1 through $columns{
		.offset#{$prefix}-#{$i}{
			$col : (100% -($columns * $gutter))/$columns;
			margin-left: ($i * $col + ($i) * $gutter) + $gutter/2 ;
		}
	}
	
	.hidden#{$prefix}{display: none;}
}

/*----------------------*\
	$Grid
\*---------------------- */


.mixinrow{
	@include row(100%, 1%);
}


/*----------------------*\
	$Defaut mobile first
\*---------------------- */
/*.center{margin: 0 auto;}*/
@include prefixe();


/*----------------------*\
	$Medium (tablettes)
\*---------------------- */
@media screen and (min-width: $medium){
	/*.center-m{margin: 0 auto;}*/
	@include prefixe('-m');
}

/*----------------------*\
	$Large
\*---------------------- */
@media screen and (min-width: $large){
	/*.center-l{margin-left: 50;}*/	
	@include prefixe('-l');
}