/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/*----------------------*\
	$Variables
\*---------------------- */
/*----------------------*\
	$Mixins
\*---------------------- */
/*----------------------*\
	$Grid
\*---------------------- */
/* line 59, ../sass/framework/_framework_grid.scss */
.mixinrow {
  width: 100%;
  display: block;
  margin-bottom: 1%;
}

/*----------------------*\
	$Defaut mobile first
\*---------------------- */
/*.center{margin: 0 auto;}*/
/* line 41, ../sass/framework/_framework_grid.scss */
.col-1 {
  width: 5.75%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-2 {
  width: 12%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-3 {
  width: 18.25%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-4 {
  width: 24.5%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-5 {
  width: 30.75%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-6 {
  width: 37%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-7 {
  width: 43.25%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-8 {
  width: 49.5%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-9 {
  width: 55.75%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-10 {
  width: 62%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-11 {
  width: 68.25%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-12 {
  width: 74.5%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-13 {
  width: 80.75%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-14 {
  width: 87%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-15 {
  width: 93.25%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 41, ../sass/framework/_framework_grid.scss */
.col-16 {
  width: 99.5%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0.25%;
  margin: 0 0.25%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-1 {
  margin-left: 6.5%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-2 {
  margin-left: 12.75%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-3 {
  margin-left: 19%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-4 {
  margin-left: 25.25%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-5 {
  margin-left: 31.5%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-6 {
  margin-left: 37.75%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-7 {
  margin-left: 44%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-8 {
  margin-left: 50.25%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-9 {
  margin-left: 56.5%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-10 {
  margin-left: 62.75%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-11 {
  margin-left: 69%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-12 {
  margin-left: 75.25%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-13 {
  margin-left: 81.5%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-14 {
  margin-left: 87.75%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-15 {
  margin-left: 94%;
}

/* line 45, ../sass/framework/_framework_grid.scss */
.offset-16 {
  margin-left: 100.25%;
}

/* line 51, ../sass/framework/_framework_grid.scss */
.hidden {
  display: none;
}

/*----------------------*\
	$Medium (tablettes)
\*---------------------- */
@media screen and (min-width: 640px) {
  /*.center-m{margin: 0 auto;}*/
  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-1 {
    width: 5.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-2 {
    width: 12%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-3 {
    width: 18.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-4 {
    width: 24.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-5 {
    width: 30.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-6 {
    width: 37%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-7 {
    width: 43.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-8 {
    width: 49.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-9 {
    width: 55.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-10 {
    width: 62%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-11 {
    width: 68.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-12 {
    width: 74.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-13 {
    width: 80.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-14 {
    width: 87%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-15 {
    width: 93.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-m-16 {
    width: 99.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-1 {
    margin-left: 6.5%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-2 {
    margin-left: 12.75%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-3 {
    margin-left: 19%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-4 {
    margin-left: 25.25%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-5 {
    margin-left: 31.5%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-6 {
    margin-left: 37.75%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-7 {
    margin-left: 44%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-8 {
    margin-left: 50.25%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-9 {
    margin-left: 56.5%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-10 {
    margin-left: 62.75%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-11 {
    margin-left: 69%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-12 {
    margin-left: 75.25%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-13 {
    margin-left: 81.5%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-14 {
    margin-left: 87.75%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-15 {
    margin-left: 94%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-m-16 {
    margin-left: 100.25%;
  }

  /* line 51, ../sass/framework/_framework_grid.scss */
  .hidden-m {
    display: none;
  }
}
/*----------------------*\
	$Large
\*---------------------- */
@media screen and (min-width: 1040px) {
  /*.center-l{margin-left: 50;}*/
  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-1 {
    width: 5.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-2 {
    width: 12%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-3 {
    width: 18.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-4 {
    width: 24.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-5 {
    width: 30.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-6 {
    width: 37%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-7 {
    width: 43.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-8 {
    width: 49.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-9 {
    width: 55.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-10 {
    width: 62%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-11 {
    width: 68.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-12 {
    width: 74.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-13 {
    width: 80.75%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-14 {
    width: 87%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-15 {
    width: 93.25%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 41, ../sass/framework/_framework_grid.scss */
  .col-l-16 {
    width: 99.5%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0.25%;
    margin: 0 0.25%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-1 {
    margin-left: 6.5%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-2 {
    margin-left: 12.75%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-3 {
    margin-left: 19%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-4 {
    margin-left: 25.25%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-5 {
    margin-left: 31.5%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-6 {
    margin-left: 37.75%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-7 {
    margin-left: 44%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-8 {
    margin-left: 50.25%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-9 {
    margin-left: 56.5%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-10 {
    margin-left: 62.75%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-11 {
    margin-left: 69%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-12 {
    margin-left: 75.25%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-13 {
    margin-left: 81.5%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-14 {
    margin-left: 87.75%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-15 {
    margin-left: 94%;
  }

  /* line 45, ../sass/framework/_framework_grid.scss */
  .offset-l-16 {
    margin-left: 100.25%;
  }

  /* line 51, ../sass/framework/_framework_grid.scss */
  .hidden-l {
    display: none;
  }
}
/************Boutons*************/
/*#474747
#c2c2c2
#FFFFFF
#FF6300
#E0440C*/
/*****************************************************/
/******************** VARIABLE ***********************/
/*****************************************************/
/*****************************************************/
/********************** BODY *************************/
/*****************************************************/
/* line 1, ../sass/style/_body.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_body.scss */
  html, body {
    background-color: #E2E2E2;
  }
}

/* line 10, ../sass/style/_body.scss */
body > div:first-of-type {
  min-height: 100%;
  position: relative;
}
/* line 13, ../sass/style/_body.scss */
body > div:first-of-type section:last-of-type {
  padding-bottom: 5em;
}

/******************************************************/
/******************** HEADER *************************/
/*****************************************************/
/* line 2, ../sass/style/_header.scss */
header {
  width: 100%;
  background-color: #2D2D2D;
}
/* line 6, ../sass/style/_header.scss */
header div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  font-size: 0;
  text-align: right;
}
@media screen and (min-width: 60em) {
  /* line 6, ../sass/style/_header.scss */
  header div {
    width: 60rem;
    display: block;
    margin-bottom: 0;
    margin: 0rem auto 1rem;
  }
}
/* line 16, ../sass/style/_header.scss */
header div a {
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 2rem;
  width: 2rem;
  margin: 0.4rem 0.5rem 0.4rem 0.5rem;
  padding: 0.2rem;
  background-color: #FF7600;
  color: white;
  text-align: center;
}
@media screen and (min-width: 60em) {
  /* line 16, ../sass/style/_header.scss */
  header div a {
    margin: 0.4rem 0rem 0.4rem 0.5rem;
  }
}
@media screen and (max-width: 30em) {
  /* line 16, ../sass/style/_header.scss */
  header div a {
    width: calc(100% - 0.8rem);
    margin: 0.5rem 0.4rem 0.5rem 0.4rem;
  }
}
/* line 35, ../sass/style/_header.scss */
header div a:hover {
  background-color: #E25D05;
}
/* line 39, ../sass/style/_header.scss */
header div a img {
  width: 1.6rem;
}

/*****************************************************/
/******************* JUMBOTRON ***********************/
/*****************************************************/
/* line 1, ../sass/style/_jumbotron.scss */
section#jumbotron {
  display: block;
  height: auto;
  width: 100%;
  background-image: url("../data/images/interieur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
}
/* line 11, ../sass/style/_jumbotron.scss */
section#jumbotron div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 1em;
}
@media screen and (min-width: 60em) {
  /* line 11, ../sass/style/_jumbotron.scss */
  section#jumbotron div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
}
/* line 20, ../sass/style/_jumbotron.scss */
section#jumbotron div h2 {
  padding: 1em;
  font-size: 3.6em;
  color: white;
  margin: 0;
}
@media screen and (max-width: 25em) {
  /* line 20, ../sass/style/_jumbotron.scss */
  section#jumbotron div h2 {
    font-size: 2.5em;
  }
}
/* line 29, ../sass/style/_jumbotron.scss */
section#jumbotron div a {
  display: block;
  width: 10em;
  margin: 0em auto 0.5em;
  padding: 0.5em;
  background-color: #FF7600;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 25em) {
  /* line 29, ../sass/style/_jumbotron.scss */
  section#jumbotron div a {
    width: 50%;
    font-size: 1.2em;
  }
}
/* line 43, ../sass/style/_jumbotron.scss */
section#jumbotron div a:hover {
  background-color: #E25D05;
}

/*****************************************************/
/******************* INDEX ***************************/
/*****************************************************/
/* line 1, ../sass/style/_index_staff.scss */
section#index_staff {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_index_staff.scss */
  section#index_staff {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_index_staff.scss */
section#index_staff div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #E2E2E2;
  height: auto;
  padding: 1em;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_index_staff.scss */
  section#index_staff div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
}
/* line 21, ../sass/style/_index_staff.scss */
section#index_staff div article h1 {
  box-sizing: border-box;
  font-size: 3.5rem;
  width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  overflow: hidden;
  background-color: #ffffff;
}
@media screen and (min-width: 45em) and (max-width: 55em) {
  /* line 21, ../sass/style/_index_staff.scss */
  section#index_staff div article h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 40em) and (max-width: 45em) {
  /* line 21, ../sass/style/_index_staff.scss */
  section#index_staff div article h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 35em) and (max-width: 40em) {
  /* line 21, ../sass/style/_index_staff.scss */
  section#index_staff div article h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 35em) {
  /* line 21, ../sass/style/_index_staff.scss */
  section#index_staff div article h1 {
    font-size: 1.5rem;
  }
}
/* line 42, ../sass/style/_index_staff.scss */
section#index_staff div article h1 a {
  display: block;
  color: #474747;
  text-decoration: none;
}
/* line 46, ../sass/style/_index_staff.scss */
section#index_staff div article h1 a:hover {
  color: #FF7600;
}

/*****************************************************/
/******************* SEARCH **************************/
/*****************************************************/
/* line 1, ../sass/style/_search.scss */
section#search {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_search.scss */
  section#search {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_search.scss */
section#search div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #E2E2E2;
  background-color: #E2E2E2;
  height: auto;
  padding-top: 1rem;
  font-size: 1rem;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_search.scss */
  section#search div {
    width: 60rem;
    display: block;
    margin-bottom: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 1rem;
    margin: auto;
  }
}
@media screen and (min-width: 60em) {
  /* line 25, ../sass/style/_search.scss */
  section#search div article:first-of-type {
    width: 30%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0;
    margin: 0 0;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
  }
}
/* line 35, ../sass/style/_search.scss */
section#search div article:first-of-type h2 {
  display: none;
}
@media screen and (min-width: 60em) {
  /* line 35, ../sass/style/_search.scss */
  section#search div article:first-of-type h2 {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: #FF7600;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 25em) and (max-width: 60em) {
  /* line 50, ../sass/style/_search.scss */
  section#search div article:first-of-type form {
    box-sizing: border-box;
    font-size: 0;
    padding: 0rem 1rem;
    max-width: 45rem;
    margin: auto;
  }
}
@media screen and (min-width: 60em) {
  /* line 50, ../sass/style/_search.scss */
  section#search div article:first-of-type form {
    box-sizing: border-box;
    font-size: 0;
    width: 100%;
    margin: auto;
    padding: 0;
  }
}
/* line 67, ../sass/style/_search.scss */
section#search div article:first-of-type form div {
  box-sizing: border-box;
  padding: 0;
}
@media screen and (min-width: 60em) {
  /* line 67, ../sass/style/_search.scss */
  section#search div article:first-of-type form div {
    width: 100%;
  }
}
@media screen and (max-width: 25em) {
  /* line 76, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:first-of-type {
    width: 90%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0;
    margin: 0 0;
    margin: auto;
  }
}
@media screen and (min-width: 25em) and (max-width: 60em) {
  /* line 76, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:first-of-type {
    display: inline-block;
    width: calc(100% - 4.5rem);
  }
}
@media screen and (min-width: 60em) {
  /* line 76, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:first-of-type {
    display: block;
    width: 100%;
    padding: 0;
  }
}
/* line 93, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:first-of-type input[type='text'] {
  display: inline-block;
  width: calc(100% - 2.5rem);
  height: 2.5rem;
  box-sizing: border-box;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.2rem;
}
/* line 104, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:first-of-type select {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: calc(100% - 2.5rem);
  box-sizing: border-box;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
}
/* line 116, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:first-of-type select option {
  padding: 0.5rem;
}
/* line 123, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:first-of-type div {
  width: 100%;
  height: auto;
  font-size: 0;
  padding: 0;
  margin: 0;
}
/* line 129, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:first-of-type div input {
  vertical-align: top;
}
/* line 132, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:first-of-type div select {
  vertical-align: top;
}
/* line 135, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:first-of-type div label {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  margin: 0;
  background-color: #FF7600;
  font-size: 1rem;
}
/* line 145, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:first-of-type div label img {
  width: 1.5em;
  padding: 0.5em;
}
@media screen and (max-width: 25em) {
  /* line 154, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) {
    width: 90%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0;
    margin: 0 0;
    font-size: 0;
  }
}
@media screen and (min-width: 25em) and (max-width: 60em) {
  /* line 154, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) {
    display: inline-block;
    width: 4.5rem;
    vertical-align: top;
    padding-left: 0.5rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 154, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) {
    display: block;
    width: 100%;
    padding: 0;
  }
}
/* line 173, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:nth-of-type(2) input[type='submit'], section#search div article:first-of-type form > div:nth-of-type(2) input[type='reset'] {
  box-sizing: border-box;
  width: calc(50% - 0.25rem);
  border: 0;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  background-color: #FF7600;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 25em) {
  /* line 173, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) input[type='submit'], section#search div article:first-of-type form > div:nth-of-type(2) input[type='reset'] {
    display: inline-block;
  }
}
@media screen and (min-width: 25em) and (max-width: 60em) {
  /* line 173, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) input[type='submit'], section#search div article:first-of-type form > div:nth-of-type(2) input[type='reset'] {
    display: block;
    padding: 1.4rem;
    width: 4rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 173, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) input[type='submit'], section#search div article:first-of-type form > div:nth-of-type(2) input[type='reset'] {
    display: inline-block;
    width: calc(50% - 0.25rem);
    height: 4rem;
  }
}
/* line 198, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:nth-of-type(2) input[type='submit']:hover, section#search div article:first-of-type form > div:nth-of-type(2) input[type='reset']:hover {
  background-color: #E25D05;
}
/* line 203, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:nth-of-type(2) input[type='submit'] {
  background-image: url("../data/icons/check.png");
}
/* line 207, ../sass/style/_search.scss */
section#search div article:first-of-type form > div:nth-of-type(2) input[type='reset'] {
  background-image: url("../data/icons/refresh.png");
}
@media screen and (max-width: 25em) {
  /* line 211, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) > input:first-child {
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 25em) and (max-width: 60em) {
  /* line 211, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) > input:first-child {
    margin-bottom: calc(0.5rem + 1px);
  }
}
@media screen and (min-width: 60em) {
  /* line 211, ../sass/style/_search.scss */
  section#search div article:first-of-type form > div:nth-of-type(2) > input:first-child {
    margin-right: 0.5rem;
  }
}
/* line 227, ../sass/style/_search.scss */
section#search div hr {
  width: calc(100% - 2rem);
  max-width: 43rem;
  margin: 0.5rem auto 0rem;
  border: 0;
  border-bottom: 1px solid #474747;
}
@media screen and (min-width: 25em) and (max-width: 60em) {
  /* line 227, ../sass/style/_search.scss */
  section#search div hr {
    margin: auto;
  }
}
@media screen and (min-width: 60em) {
  /* line 227, ../sass/style/_search.scss */
  section#search div hr {
    display: none;
  }
}
@media screen and (max-width: 25em) {
  /* line 242, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) {
    width: 90%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0;
    margin: 0 0;
  }
}
@media screen and (min-width: 25em) and (max-width: 60em) {
  /* line 242, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) {
    box-sizing: border-box;
    max-width: 45rem;
    margin: auto;
    padding: 0rem 1rem;
  }
}
@media screen and (min-width: 60em) {
  /* line 242, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) {
    width: 70%;
    display: inline-block;
    font-size: 1rem;
    margin: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0.5rem;
    font-size: 1rem;
  }
}
/* line 260, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div {
  box-sizing: border-box;
  margin: 0.5rem auto;
  background-color: white;
  text-align: left;
  padding: 1rem;
  overflow: hidden;
}
@media screen and (min-width: 60em) {
  /* line 260, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) div {
    box-sizing: border-box;
    width: 100%;
  }
}
/* line 273, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div > div {
  box-sizing: border-box;
  padding: 0em;
  margin: 0;
}
@media screen and (max-width: 30em) {
  /* line 280, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) div > div:first-child {
    display: block;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  /* line 280, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) div > div:first-child {
    display: inline-block;
    width: calc( 100% - 8rem);
    vertical-align: top;
  }
}
@media screen and (min-width: 60em) {
  /* line 280, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) div > div:first-child {
    display: inline-block;
    width: calc( 100% - 8rem);
    vertical-align: top;
  }
}
/* line 295, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div > div:first-child h2 {
  font-size: 1.5rem;
}
/* line 297, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div > div:first-child h2 a {
  color: black;
}
/* line 299, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div > div:first-child h2 a:hover {
  color: #FF7600;
}
/* line 305, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div > div:first-child h3 {
  font-size: 0.9rem;
  color: #474747;
}
/* line 310, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div > div:first-child h4 {
  font-size: 0.8rem;
  color: #474747;
}
/* line 315, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div > div:first-child p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #474747;
}
@media screen and (max-width: 30em) {
  /* line 323, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) div > div:last-child {
    display: none;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  /* line 323, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) div > div:last-child {
    display: inline-block;
    width: 8rem;
    vertical-align: top;
  }
}
@media screen and (min-width: 60em) {
  /* line 323, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) div > div:last-child {
    display: inline-block;
    width: 8rem;
    vertical-align: top;
  }
}
/* line 337, ../sass/style/_search.scss */
section#search div article:nth-of-type(2) div > div:last-child img {
  width: 7rem;
  margin-left: 1rem;
  background-color: #474747;
}
@media screen and (min-width: 60em) {
  /* line 345, ../sass/style/_search.scss */
  section#search div article:nth-of-type(2) > div:first-of-type {
    margin-top: 0;
  }
}

/*****************************************************/
/******************* DETAIL **************************/
/*****************************************************/
/* line 1, ../sass/style/_detail.scss */
section#detail {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_detail.scss */
  section#detail {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_detail.scss */
section#detail div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #E2E2E2;
  padding: 1rem;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_detail.scss */
  section#detail div {
    width: 60rem;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
}
/* line 19, ../sass/style/_detail.scss */
section#detail div article:first-of-type {
  width: 100%;
}
@media screen and (min-width: 40em) {
  /* line 19, ../sass/style/_detail.scss */
  section#detail div article:first-of-type {
    padding: 1rem 0rem 0.5rem 0rem;
  }
}
/* line 26, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:first-of-type {
  background-color: #ffffff;
}
@media screen and (max-width: 40em) {
  /* line 26, ../sass/style/_detail.scss */
  section#detail div article:first-of-type > div:first-of-type {
    display: block;
    padding: 0;
  }
}
@media screen and (min-width: 40em) {
  /* line 26, ../sass/style/_detail.scss */
  section#detail div article:first-of-type > div:first-of-type {
    display: inline-block;
    vertical-align: top;
    width: 12rem;
    height: calc( 14rem - 2px);
    padding: 0;
    overflow: hidden;
  }
}
/* line 42, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:first-of-type img {
  display: block;
  background-color: #474747;
  width: 100%;
  max-width: 20rem;
  margin: auto;
}
@media screen and (min-width: 40em) {
  /* line 42, ../sass/style/_detail.scss */
  section#detail div article:first-of-type > div:first-of-type img {
    width: auto;
    height: 100%;
    max-width: none;
  }
}
/* line 57, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) {
  box-sizing: border-box;
  padding: 0.5rem 0rem;
}
@media screen and (min-width: 40em) {
  /* line 57, ../sass/style/_detail.scss */
  section#detail div article:first-of-type > div:nth-of-type(2) {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 12rem);
    padding: 0rem 0rem 0rem 0.5rem;
  }
}
/* line 68, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) h2 {
  background-color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
  text-align: left;
  color: #474747;
}
/* line 77, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) h3 {
  background-color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
  text-align: left;
  color: #474747;
}
/* line 85, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) h3:nth-of-type(2) {
  padding: 0.6rem 0rem 0.6rem 1rem;
  font-size: 1rem;
}
/* line 91, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) h4 {
  display: inline-block;
  box-sizing: border-box;
  width: calc(50% - 0.25rem);
  padding: 0.5rem 0rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  color: #474747;
  font-size: 1.2rem;
  text-align: left;
}
/* line 102, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) h4:first-of-type {
  margin-right: 0.5rem;
}
/* line 107, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) p {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: calc(100% - 2.5rem);
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  padding: 0rem 0rem 0rem 1rem;
  background-color: #ffffff;
  color: #474747;
  font-size: 1rem;
  text-align: left;
}
/* line 121, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) p + label {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 2.5rem;
  height: 2.5rem;
}
/* line 128, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) p + label#dispo {
  background-image: url("../data/icons/check.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.6rem;
  background-color: green;
}
/* line 136, ../sass/style/_detail.scss */
section#detail div article:first-of-type > div:nth-of-type(2) p + label#indispo {
  background-image: url("../data/icons/cross.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.6rem;
  background-color: red;
}
/* line 149, ../sass/style/_detail.scss */
section#detail div article:nth-of-type(2) {
  width: 100%;
}
@media screen and (min-width: 40em) {
  /* line 149, ../sass/style/_detail.scss */
  section#detail div article:nth-of-type(2) {
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
}
/* line 155, ../sass/style/_detail.scss */
section#detail div article:nth-of-type(2) p {
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: auto;
  min-height: 14rem;
  text-align: justify;
  color: #474747;
}

/*****************************************************/
/******************* EMPRUNT **************************/
/*****************************************************/
/* line 1, ../sass/style/_emprunt.scss */
section#emprunt {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_emprunt.scss */
  section#emprunt {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_emprunt.scss */
section#emprunt div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #E2E2E2;
  height: auto;
  padding-top: 1em;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_emprunt.scss */
  section#emprunt div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
    padding: 1rem;
  }
}
/* line 21, ../sass/style/_emprunt.scss */
section#emprunt div > article:first-of-type {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-size: 0rem;
}
/* line 28, ../sass/style/_emprunt.scss */
section#emprunt div > article:first-of-type a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  background-image: url("../data/icons/return.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #FF7600;
}
/* line 44, ../sass/style/_emprunt.scss */
section#emprunt div > article:first-of-type h2 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc( 100% - 4.5rem);
  height: 4rem;
  line-height: 4rem;
  background-color: #FF7600;
  color: white;
  font-size: 1rem;
}
@media screen and (min-width: 35em) {
  /* line 44, ../sass/style/_emprunt.scss */
  section#emprunt div > article:first-of-type h2 {
    font-size: 2rem;
  }
}
/* line 62, ../sass/style/_emprunt.scss */
section#emprunt div form {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
  font-size: 0rem;
}
/* line 69, ../sass/style/_emprunt.scss */
section#emprunt div form div {
  width: 100%;
  padding: 0;
}
/* line 75, ../sass/style/_emprunt.scss */
section#emprunt div form input[type='text'], section#emprunt div form #ajoutEmprunt > input[type='text'] {
  display: block;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.2rem;
}
/* line 86, ../sass/style/_emprunt.scss */
section#emprunt div form input[type='button'] {
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  float: right;
  background-color: white;
  border: 0;
  border-radius: 0;
  background-image: url("../data/icons/add_black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: white;
  cursor: pointer;
}
/* line 102, ../sass/style/_emprunt.scss */
section#emprunt div form input[type='submit'] {
  display: block;
  width: 11rem;
  height: 3.5rem;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  background-color: #FF7600;
  color: white;
  margin: 4.5rem auto;
  cursor: pointer;
}
/* line 113, ../sass/style/_emprunt.scss */
section#emprunt div form input[type='submit']:hover {
  background-color: #E25D05;
}

/*****************************************************/
/******************* RECAP EMPRUNT *******************/
/*****************************************************/
/* line 1, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  height: auto;
  padding: 1rem;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
  /* line 14, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div:first-of-type {
    background-color: #E2E2E2;
  }
}
@media screen and (max-width: 30em) {
  /* line 8, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div {
    padding: 1rem 0.5rem;
  }
}
/* line 25, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div > article:first-of-type {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  font-size: 0rem;
}
/* line 32, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div > article:first-of-type a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  background-image: url("../data/icons/return.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #FF7600;
}
/* line 47, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div > article:first-of-type a:hover {
  background-color: #E25D05;
}
/* line 52, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div > article:first-of-type h2 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background-color: #FF7600;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 35em) {
  /* line 52, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div > article:first-of-type h2 {
    font-size: 1.6rem;
  }
}
/* line 68, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div > article:first-of-type p {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  box-sizing: border-box;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 0rem 0.5rem 0rem 1rem;
  font-size: 1.2rem;
  background-color: white;
}
@media screen and (min-width: 35em) {
  /* line 68, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div > article:first-of-type p {
    display: inline-block;
    width: calc( 50% - 0.25em);
  }
  /* line 82, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div > article:first-of-type p:first-of-type {
    margin-right: 0.5rem;
  }
}
/* line 90, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div hr {
  box-sizing: border-box;
  width: 100%;
  margin: 0rem 0rem 0.5rem 0rem;
}
/* line 96, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div div.success, section#recap_emprunt div div.error {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5rem;
}
@media print {
  /* line 96, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div div.success, section#recap_emprunt div div.error {
    display: none;
  }
}
/* line 105, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table {
  border: 0;
  width: 100%;
  border-collapse: collapse;
}
/* line 113, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr td {
  height: 2rem;
  line-height: 2rem;
  border: 0;
  overflow: hidden;
}
/* line 120, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr th {
  height: 3rem;
  line-height: 3rem;
  border: 0;
  overflow: hidden;
}
@media screen and (max-width: 30em) {
  /* line 127, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div table tbody tr td:nth-of-type(2) {
    display: none;
  }
}
@media screen and (max-width: 40em) {
  /* line 133, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div table tbody tr td:nth-of-type(3) {
    display: none;
  }
}
/* line 140, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr:nth-child(odd) {
  background-color: #FFB16F;
}
/* line 144, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr:nth-child(even) {
  background-color: white;
}
/* line 148, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr:first-child {
  background-color: #FF7600;
  color: white;
}
/* line 152, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr:first-child th:nth-of-type(1) {
  width: 50%;
}
@media screen and (max-width: 30em) {
  /* line 152, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div table tbody tr:first-child th:nth-of-type(1) {
    width: 60%;
  }
}
/* line 159, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr:first-child th:nth-of-type(2) {
  width: 16.6667%;
}
@media screen and (min-width: 30em) and (max-width: 40em) {
  /* line 159, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div table tbody tr:first-child th:nth-of-type(2) {
    width: 24.3334%;
  }
}
@media screen and (max-width: 30em) {
  /* line 159, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div table tbody tr:first-child th:nth-of-type(2) {
    display: none;
  }
}
/* line 169, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr:first-child th:nth-of-type(3) {
  width: 16.6667%;
}
@media screen and (max-width: 40em) {
  /* line 169, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div table tbody tr:first-child th:nth-of-type(3) {
    display: none;
  }
}
/* line 176, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div table tbody tr:first-child th:nth-of-type(4) {
  width: 16.6667%;
}
@media screen and (min-width: 30em) and (max-width: 40em) {
  /* line 176, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div table tbody tr:first-child th:nth-of-type(4) {
    width: 24.3334%;
  }
}
@media screen and (max-width: 30em) {
  /* line 176, ../sass/style/_recap_emprunt.scss */
  section#recap_emprunt div table tbody tr:first-child th:nth-of-type(4) {
    width: 40%;
  }
}
/* line 189, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div > article:nth-of-type(2) {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0rem 0rem 0rem;
  margin-bottom: 1rem;
}
/* line 196, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div > article:nth-of-type(2) a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 12rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  background-color: #FF7600;
}
/* line 206, ../sass/style/_recap_emprunt.scss */
section#recap_emprunt div > article:nth-of-type(2) a:hover {
  background-color: #E25D05;
}

/*****************************************************/
/******************* RETOUR **************************/
/*****************************************************/
/* line 1, ../sass/style/_retour.scss */
section#retour {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_retour.scss */
  section#retour {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_retour.scss */
section#retour div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #E2E2E2;
  height: auto;
  padding-top: 1em;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_retour.scss */
  section#retour div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
}
/* line 20, ../sass/style/_retour.scss */
section#retour div > article:first-of-type {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-size: 0rem;
}
/* line 27, ../sass/style/_retour.scss */
section#retour div > article:first-of-type a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  background-image: url("../data/icons/return.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #FF7600;
}
/* line 43, ../sass/style/_retour.scss */
section#retour div > article:first-of-type h2 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc( 100% - 4.5rem);
  height: 4rem;
  line-height: 4rem;
  background-color: #FF7600;
  color: white;
  font-size: 1rem;
}
@media screen and (min-width: 35em) {
  /* line 43, ../sass/style/_retour.scss */
  section#retour div > article:first-of-type h2 {
    font-size: 2rem;
  }
}
/* line 61, ../sass/style/_retour.scss */
section#retour div form {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
  font-size: 0rem;
}
/* line 68, ../sass/style/_retour.scss */
section#retour div form div {
  width: 100%;
}
/* line 73, ../sass/style/_retour.scss */
section#retour div form input[type='text'], section#retour div form #ajoutEmprunt > input[type='text'] {
  display: block;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.2rem;
}
/* line 84, ../sass/style/_retour.scss */
section#retour div form input[type='button'] {
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  float: right;
  background-color: white;
  border: 0;
  border-radius: 0;
  background-image: url("../data/icons/add_black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: white;
  cursor: pointer;
}
/* line 100, ../sass/style/_retour.scss */
section#retour div form input[type='submit'] {
  display: block;
  width: 11rem;
  height: 3.5rem;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  background-color: #FF7600;
  color: white;
  margin: 4.5rem auto;
  cursor: pointer;
}
/* line 111, ../sass/style/_retour.scss */
section#retour div form input[type='submit']:hover {
  background-color: #E25D05;
}

/*****************************************************/
/******************* RECAP RETOUR ********************/
/*****************************************************/
/* line 1, ../sass/style/_recap_retour.scss */
section#recap_retour {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_recap_retour.scss */
  section#recap_retour {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_recap_retour.scss */
section#recap_retour div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  height: auto;
  padding: 1rem;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_recap_retour.scss */
  section#recap_retour div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
  /* line 14, ../sass/style/_recap_retour.scss */
  section#recap_retour div:first-of-type {
    background-color: #E2E2E2;
  }
}
@media screen and (max-width: 30em) {
  /* line 8, ../sass/style/_recap_retour.scss */
  section#recap_retour div {
    padding: 1rem 0.5rem;
  }
}
/* line 25, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:first-of-type {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  font-size: 0rem;
}
/* line 32, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:first-of-type a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  background-image: url("../data/icons/return.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #FF7600;
}
/* line 47, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:first-of-type a:hover {
  background-color: #E25D05;
}
/* line 52, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:first-of-type h2 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background-color: #FF7600;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 35em) {
  /* line 52, ../sass/style/_recap_retour.scss */
  section#recap_retour div > article:first-of-type h2 {
    font-size: 1.6rem;
  }
}
/* line 68, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:first-of-type > div {
  display: block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  font-size: 1.2rem;
}
@media screen and (min-width: 35em) {
  /* line 68, ../sass/style/_recap_retour.scss */
  section#recap_retour div > article:first-of-type > div {
    display: inline-block;
    width: calc( 50% - 0.25em);
  }
  /* line 80, ../sass/style/_recap_retour.scss */
  section#recap_retour div > article:first-of-type > div:first-of-type {
    margin-right: 0.5rem;
  }
}
/* line 87, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:first-of-type div p {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  box-sizing: border-box;
  border: 0;
  font-size: 1.2rem;
  background-color: white;
}
/* line 96, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:first-of-type div p:first-of-type {
  margin-bottom: 0.5rem;
}
/* line 103, ../sass/style/_recap_retour.scss */
section#recap_retour div hr {
  box-sizing: border-box;
  width: 100%;
  margin: 0rem 0rem 0.5rem 0rem;
}
/* line 109, ../sass/style/_recap_retour.scss */
section#recap_retour div > div.success, section#recap_retour div > div.error {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5rem;
}
@media print {
  /* line 109, ../sass/style/_recap_retour.scss */
  section#recap_retour div > div.success, section#recap_retour div > div.error {
    display: none;
  }
}
/* line 118, ../sass/style/_recap_retour.scss */
section#recap_retour div table {
  border: 0;
  width: 100%;
  border-collapse: collapse;
}
/* line 126, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr td {
  height: 2rem;
  line-height: 2rem;
  border: 0;
  overflow: hidden;
}
/* line 133, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr th {
  height: 3rem;
  line-height: 3rem;
  border: 0;
  overflow: hidden;
}
@media screen and (max-width: 30em) {
  /* line 140, ../sass/style/_recap_retour.scss */
  section#recap_retour div table tbody tr td:nth-of-type(2) {
    display: none;
  }
}
@media screen and (max-width: 40em) {
  /* line 146, ../sass/style/_recap_retour.scss */
  section#recap_retour div table tbody tr td:nth-of-type(3) {
    display: none;
  }
}
/* line 153, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr:nth-child(odd) {
  background-color: #FFB16F;
}
/* line 157, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr:nth-child(even) {
  background-color: white;
}
/* line 161, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr:first-child {
  background-color: #FF7600;
  color: white;
}
/* line 165, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr:first-child th:nth-of-type(1) {
  width: 50%;
}
@media screen and (max-width: 30em) {
  /* line 165, ../sass/style/_recap_retour.scss */
  section#recap_retour div table tbody tr:first-child th:nth-of-type(1) {
    width: 60%;
  }
}
/* line 172, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr:first-child th:nth-of-type(2) {
  width: 16.6667%;
}
@media screen and (min-width: 30em) and (max-width: 40em) {
  /* line 172, ../sass/style/_recap_retour.scss */
  section#recap_retour div table tbody tr:first-child th:nth-of-type(2) {
    width: 24.3334%;
  }
}
@media screen and (max-width: 30em) {
  /* line 172, ../sass/style/_recap_retour.scss */
  section#recap_retour div table tbody tr:first-child th:nth-of-type(2) {
    display: none;
  }
}
/* line 182, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr:first-child th:nth-of-type(3) {
  width: 16.6667%;
}
@media screen and (max-width: 40em) {
  /* line 182, ../sass/style/_recap_retour.scss */
  section#recap_retour div table tbody tr:first-child th:nth-of-type(3) {
    display: none;
  }
}
/* line 189, ../sass/style/_recap_retour.scss */
section#recap_retour div table tbody tr:first-child th:nth-of-type(4) {
  width: 16.6667%;
}
@media screen and (min-width: 30em) and (max-width: 40em) {
  /* line 189, ../sass/style/_recap_retour.scss */
  section#recap_retour div table tbody tr:first-child th:nth-of-type(4) {
    width: 24.3334%;
  }
}
@media screen and (max-width: 30em) {
  /* line 189, ../sass/style/_recap_retour.scss */
  section#recap_retour div table tbody tr:first-child th:nth-of-type(4) {
    width: 40%;
  }
}
/* line 202, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:nth-of-type(2), section#recap_retour div > article:nth-of-type(3), section#recap_retour div > article:nth-of-type(4) {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 0rem 0rem 0rem;
  margin-bottom: 1rem;
}
/* line 209, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:nth-of-type(2) h2, section#recap_retour div > article:nth-of-type(3) h2, section#recap_retour div > article:nth-of-type(4) h2 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background-color: #FF7600;
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 35em) {
  /* line 209, ../sass/style/_recap_retour.scss */
  section#recap_retour div > article:nth-of-type(2) h2, section#recap_retour div > article:nth-of-type(3) h2, section#recap_retour div > article:nth-of-type(4) h2 {
    font-size: 1.6rem;
  }
}
/* line 225, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:nth-of-type(2) a, section#recap_retour div > article:nth-of-type(3) a, section#recap_retour div > article:nth-of-type(4) a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 12rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  background-color: #FF7600;
}
/* line 235, ../sass/style/_recap_retour.scss */
section#recap_retour div > article:nth-of-type(2) a:hover, section#recap_retour div > article:nth-of-type(3) a:hover, section#recap_retour div > article:nth-of-type(4) a:hover {
  background-color: #E25D05;
}

/*****************************************************/
/******************* INSERT MEMBRE *******************/
/*****************************************************/
/* line 1, ../sass/style/_insert_adherent.scss */
section#insert_adherent {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_insert_adherent.scss */
  section#insert_adherent {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_insert_adherent.scss */
section#insert_adherent div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  height: auto;
  padding: 1rem;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_insert_adherent.scss */
  section#insert_adherent div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
  /* line 14, ../sass/style/_insert_adherent.scss */
  section#insert_adherent div:first-of-type {
    background-color: #E2E2E2;
  }
}
@media screen and (max-width: 30em) {
  /* line 8, ../sass/style/_insert_adherent.scss */
  section#insert_adherent div {
    padding: 1rem 0.5rem;
  }
}
/* line 26, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:first-of-type h2 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background-color: #FF7600;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 35em) {
  /* line 26, ../sass/style/_insert_adherent.scss */
  section#insert_adherent div > article:first-of-type h2 {
    font-size: 1.6rem;
  }
}
/* line 43, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:nth-of-type(2) {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  font-size: 0rem;
}
/* line 52, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:nth-of-type(2) form > div {
  display: block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  font-size: 1.2rem;
}
@media screen and (min-width: 35em) {
  /* line 52, ../sass/style/_insert_adherent.scss */
  section#insert_adherent div > article:nth-of-type(2) form > div {
    display: inline-block;
    width: calc( 50% - 0.25rem);
  }
  /* line 64, ../sass/style/_insert_adherent.scss */
  section#insert_adherent div > article:nth-of-type(2) form > div:first-of-type {
    margin-right: 0.5rem;
  }
}
/* line 72, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:nth-of-type(2) div h3 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #FF7600;
  color: white;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 35em) {
  /* line 72, ../sass/style/_insert_adherent.scss */
  section#insert_adherent div > article:nth-of-type(2) div h3 {
    font-size: 1.4rem;
  }
}
/* line 87, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:nth-of-type(2) div input {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  box-sizing: border-box;
  border: 0;
  font-size: 1.2rem;
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 0rem 1rem;
}
/* line 100, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:nth-of-type(2) div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
}
/* line 112, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:nth-of-type(2) div select option {
  padding: 0.5rem;
}
/* line 119, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:nth-of-type(2) input[type='submit'] {
  border: none;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 12rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  background-color: #FF7600;
  font-size: 1rem;
  cursor: pointer;
}
/* line 131, ../sass/style/_insert_adherent.scss */
section#insert_adherent div > article:nth-of-type(2) input[type='submit']:hover {
  background-color: #E25D05;
}

/*****************************************************/
/******************* DETAIL **************************/
/*****************************************************/
/* line 1, ../sass/style/_genre.scss */
section#sort {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 60em) {
  /* line 1, ../sass/style/_genre.scss */
  section#sort {
    background-color: #E2E2E2;
  }
}
/* line 8, ../sass/style/_genre.scss */
section#sort div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: #E2E2E2;
  height: auto;
  padding-top: 1em;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_genre.scss */
  section#sort div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
    padding: 1rem;
  }
}
/* line 21, ../sass/style/_genre.scss */
section#sort div > article:first-of-type {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-size: 0rem;
}
/* line 28, ../sass/style/_genre.scss */
section#sort div > article:first-of-type a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  background-image: url("../data/icons/return.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #FF7600;
}
/* line 44, ../sass/style/_genre.scss */
section#sort div > article:first-of-type h2 {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc( 100% - 4.5rem);
  height: 4rem;
  line-height: 4rem;
  background-color: #FF7600;
  color: white;
  font-size: 1rem;
}
@media screen and (min-width: 35em) {
  /* line 44, ../sass/style/_genre.scss */
  section#sort div > article:first-of-type h2 {
    font-size: 2rem;
  }
}
/* line 62, ../sass/style/_genre.scss */
section#sort div form {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
  font-size: 0rem;
}
/* line 69, ../sass/style/_genre.scss */
section#sort div form div {
  width: 100%;
  padding: 0;
}
/* line 75, ../sass/style/_genre.scss */
section#sort div form input[type='text'], section#sort div form #ajoutEmprunt > input[type='text'] {
  display: block;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.2rem;
}
/* line 86, ../sass/style/_genre.scss */
section#sort div form input[type='button'] {
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  float: right;
  background-color: white;
  border: 0;
  border-radius: 0;
  background-image: url("../data/icons/add_black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: white;
  cursor: pointer;
}
/* line 102, ../sass/style/_genre.scss */
section#sort div form input[type='submit'] {
  display: block;
  width: 11rem;
  height: 3.5rem;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  background-color: #FF7600;
  color: white;
  margin: 4.5rem auto;
  cursor: pointer;
}
/* line 113, ../sass/style/_genre.scss */
section#sort div form input[type='submit']:hover {
  background-color: #E25D05;
}

/******************************************************/
/******************** SECTION ************************/
/*****************************************************/
/* line 104, ../sass/screen.scss */
section {
  text-align: center;
}

/*
article.new, article.description, article.horaire{
    @include col(10,12,0%);
    margin-bottom: 5%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
    h2 {
        font-size: 1.3em;
        text-align: left;
    }
    
    h4{
        font-size: 1em;
        text-align: left;
    }
    
    ul{
        text-align: left;
    }
    
    p{
        text-align: left;
    }
}
*/
/*****************************************************/
/******************* FOOTER **************************/
/*****************************************************/
/* line 1, ../sass/style/_footer.scss */
footer {
  background-color: #474747;
  width: 100%;
  height: 4em;
  position: absolute;
  bottom: 0;
}
/* line 8, ../sass/style/_footer.scss */
footer div {
  width: 100%;
  display: block;
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 60em) {
  /* line 8, ../sass/style/_footer.scss */
  footer div {
    width: 60em;
    display: block;
    margin-bottom: 0;
    margin: auto;
  }
}
/* line 16, ../sass/style/_footer.scss */
footer div p {
  display: inline-block;
  padding-top: 1.5em;
  margin: 0;
  color: white;
}

/****************************************************************************************/
/************************************* MEDIA QUERY *************************************/
/***************************************************************************************/
/******************************************************/
/******************** HEADER *************************/
/*****************************************************/
@media screen and (min-width: 1200px) {
  /* line 152, ../sass/screen.scss */
  .form_connect {
    background-color: black;
    height: 3em;
    line-height: 3em;
  }
  /* line 157, ../sass/screen.scss */
  .form_connect form {
    float: right;
    display: inline-block;
    vertical-align: middle;
  }
  /* line 162, ../sass/screen.scss */
  .form_connect form input {
    height: 2em;
    width: 100px;
  }
  /* line 167, ../sass/screen.scss */
  .form_connect form input.btn {
    background-color: #ff6300;
  }
  /* line 170, ../sass/screen.scss */
  .form_connect form input.btn:hover {
    background-color: #e0440c;
  }
}
